BODY {
  font-size: 10px;
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #666666;
}
a:link { 
  color: #444499;
  text-decoration: underline;
}
a:visited {
  color: #444499;
  text-decoration: underline;
}
a:hover,active {
  text-decoration: underline;
  color: #99CC00;
}
TABLE {
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #FFFFFF;
}

table.banner {
  background-image: url('../images/misc/background.gif');
}
TABLE.main {
  /*
  border-top: solid thin black;
  border-bottom: solid thin black;
  border-left: solid thin black;
  border-right: solid thin black;
  */
}
.navbar {
  font-weight: 200;
  font-size: 10px;
  color: #FFFFFF;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #666666;
  border-top: solid thin #000000;
  border-bottom: solid thin #000000;
}
a.navbar:link { 
  color: #FFFFFF;
  text-decoration: none;
}
a.navbar:visited {
  color: #FFFFFF;
  text-decoration: none;
}
a.navbar:hover,active {
  color: #FFFFFF;
  text-decoration: underline;
}

.navbarselected {
  color: #000000;
  background-color: #ffffff;
}
a.navbarselected:link { 
  color: #000000;
  text-decoration: none;
}
a.navbarselected:visited {
  color: #000000;
  text-decoration: none;
}
a.navbarselected:hover,active {
  color: #000000;
  text-decoration: underline;
}

TABLE.module {
  /*
  border-right: solid thin black;
  border-left: solid thin black;
  border-top: solid thin black;
  border-bottom: solid thin black;
  */
}
TD.moduleheader {
  font-weight: 900;
  font-size: 14px;
  color: #ffffff;
  background-color: #99cc00;
  text-align: center;
}
TD.modulecontent {
  font-weight: 900;
  font-size: 12px;
  color: #000000;
  text-align: right;
  text-decoration: none;
}
A.modulecontent:link,visited {
  font-weight: 900;
  color: #000000;
  text-decoration: none;
}
A.modulecontent:visited {
  font-weight: 900;
  color: #000000;
  text-decoration: none;
}
A.modulecontent:hover,active {
  font-weight: 900;
  color: #000000;
  text-decoration: underline;
}
A.modulecontent_small:link {
  font-weight: 900;
  font-size: 10px;
  color: #000000;
  text-decoration: none;
}
A.modulecontent_small:visited {
  font-weight: 900;
  font-size: 10px;
  color: #000000;
  text-decoration: none;
}
A.modulecontent_small:hover,active {
  font-weight: 900;
  font-size: 10px;
  color: #000000;
  text-decoration: underline;
}

.copyright {
  font-weight: 500;
  font-size: 10px;
  color: #ffffff;
  background-color: #666666;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
}
SPAN.headline {
  color: #FFFFFF;
  /*background-color: #99cc00;*/
  background-color: #666666;
}
P.headline {
  font-weight: 800;
  font-size: 14px;
  color: #000000;
  text-align:	right;
  border-bottom: solid thin #000000;
  border-right: solid thin #000000;
}
.separator {
  background-color:	#666666;
}
P.spacer {
  font-size: 5px;
}
SPAN.lang {
  border-bottom: solid thin black;
}
td.docbold {
  font-weight: 800;
  text-align:	left;
  border-bottom: solid thin black;
}
td.docbold_final {
  font-weight: 800;
  text-align:   left;
}
td.docformat {
  text-align: left;
  border-bottom: solid thin black;
}
td.docformat_final {
  text-align: left;
}
td.doc {
  border-bottom: solid thin black;
}
td.doc_final {
}
A.imlang:link {
  font-weight: 800;
  color: #666666;
  text-decoration: none;
}
A.imlang:visited {
  font-weight: 800;
  color: #666666;
  text-decoration: none;
}
A.imlang:hover,active {
  font-weight: 800;
  color: #666666;
  text-decoration: underline;
}
A.pressrelease:link {
  font-weight: 800;
  color: #333333;
  text-decoration: none;
}
A.pressrelease:visited {
  font-weight: 800;
  color: #333333;
  text-decoration: none;
}
A.pressrelease:hover,active  {
  font-weight: 800;
  color: #333333;
  text-decoration: underline;
}
BUTTON.search {
  font-weight: 800;
  font-size: 11px;
  background-color: #DDDDDD;
  border: 0;
}
SPAN.pdf {
  font-size: 9px;
  color: #FFFFFF;
  font-weight: 900;
  background-color: #990033;
}
SPAN.html {
  font-size: 9px;
  color: #FFFFFF;
  font-weight: 900;
  background-color: #336699;
}
TABLE.update {
  color: #FFFFFF;
  background-color: #666666;
}
TD.updatetitle {
color: #FFFFFF;
font-size: 18px;
text-align: center;
height: 30px;
border-bottom: solid #000000 1px;
}
TD.updateproject {
font-size: 12px;
border-bottom: solid #FFFFFF 1px;
}
TABLE.updatecontent {
  color: #FFFFFF;
  background-color: #666666;
}
a.updateproject:link { 
  color: #FFFFFF;
  font-weight: 800;
  text-decoration: none;
}
a.updateproject:visited {
  color: #FFFFFF;
  text-decoration: none;
}
a.updateproject:hover,active {
  text-decoration: underline;
  color: #99CC00;
}
a.update:link { 
  color: #FFFFFF;
  text-decoration: underline;
}
a.update:visited {
  color: #FFFFFF;
  text-decoration: underline;
}
a.update:hover,active {
  text-decoration: underline;
  color: #99CC00;
}
