<!--
 $Id$

 - Translated by, Mohamed Eldesoky
 -->
<p align="left"><font color="#ff0000"><i>Translated</i></font></p>
<div dir="rtl" align="right">
<b>بيانات أساسية ...</b>
<br>
<table border="0" cellpadding="0" cellspacing="6">
<tr>
  <td>&nbsp;</td>
  <td>الإسم الكامل</td>
  <td>&nbsp;</td>
  <td colspan="3">نديم الشيخلى</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>العمر</td>
  <td>&nbsp;</td>
  <td colspan="3">32 عاما</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>الجنسية</td>
  <td>&nbsp;</td>
  <td colspan="3">عراقى</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>بلد الإقامة الحالية</td>
  <td>&nbsp;</td>
  <td colspan="3">كاليفورنيا، الولايات المتحدة الأمريكية</b>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>الوظيفة</td>
  <td>&nbsp;</td>
  <td colspan="3">مصمّم رقاقات الكترونية و مهندس حاسب</b>
</tr>
</table>
<p>
<b>1. هل يوجد مشروع أو موقع منتسب معه؟ كيف ؟</b>
<br><br>
ليس في الواقع - أنا كنت منضم إلى www.arabeyes.org منذ وقت كبير عظيم ووقتي
أقضيه فيه والأشياء المختلفة التى يساندها عربايز.
</p><p>
<b>2. ما أفكارك على لاينكس والمصدر المفتوح ؟</b>
<br><br>
أعتقد أنه أفضل شيء حدث فى تطوير البرامج عموما منذ أخترعت  الحاسبات. ليس
لأنه حر، لكن لأن لمثل هذه التجربة فائدتها التعليمية العظيمة ومثل هذه الوسط
العظيم لتعلّم ومشاهدة كيف تعمل الأشياءوتشتغل، زائد أنك يمكن أن تغيّر الأشياء
بسهولة.
</p><p>
<b>3. ما الذى جعلك تهتم بلاينكس والمصادر المفتوحة ؟</b>
<br><br>
مع الظروف السياسية التى أحاطت بأمتنا العربية و الإسلامية, صدمت مرتين عندما
رأيت شركات أجنبية تتولى المهام الأمنية لشبكات معلومات الشركات و الحكومات
العربية. قسم كبير من العالم العربى أصبح يعتمد على الإنترنت و أصبح جزء كبير
من المعاملات اليومية يتم عبر الإنترنت, و انا افترض أنه يوجد معلومات هامة و
حساسة أصبحت موجودة على الشبكة.  عندما تضع كل هذه البيانات تحت حماية شركات
اجنبية ( و بالتالى دول أجنبية) فان هذا يبدو سخيفا و صعب أن اتقبله أو اصدقه
و بالتالى بدأت اتعجب لماذا لا يتجه الناس فى العالم العربى للينكس و بدأت انظر
لإحتياجاتى اليومية و كيف سأقوم بالكتابة و ارسال البريد الإلكترونى و الطباعة
باللغة العربية على لينكس, ووجدت نقص هائل. و بالتالى بدأت ابحث على الإنترنت
لأرى ان كان هناك شخص ما قد حاول أن يسد هذه الثغرات, و وجدت  أيونكس (الإسم
القديم لعربايز) , و لم يكن أيونكس نشطا فى تطوير التطبيقات, و لكن كان يوجد
الروح و النية و بالتالى قدمت بعض التعليقات و الإقتراحات و أخذت على عاتقى
أن انفذ ما اقترحته و أن ابدا بالإنتاج لوضع ما اقترحته و ما اقترحه الآخرون
موضع التنفيذ العملى لجعل اللغة العربية على لينكس حقيقة فعلية. و كان هذا
فعلا أول مشاركاتى الفعلية و العميقة فى عالم المصادر المفتوحة.
</p><p>
<b>4. متى بدأ اهتمامك بالمصادر المفتوحة ؟</b>
<br><br>
لأن عملى اليومى يتطلب منى أن اعمل على لينكس/ يونكس, فقد استخدمت يونكس
(بالذات صن و سولاريز) لأكثر من 10 سنوات. و أيضا الإنتشار الكبير للينكس
خلال ال 3 أو 4 سنوات الماضية لفتت نظرى , اعجبتنى فكرة أن أجد أخطاء برمجية
ومحاولة تصحيحها و تقديم المقترحات التى قد تكون مفيدة.  و بدأت برمجة تعديلات
بسيطة لما كان يسمى xbiff++ (منبه لوجود بريد الكترونى) من أجل اصدار صوت عندما
يصل بريد الكترونى -- أعرف انها فكرة سخيفة, كان هذا فى 1993 أو 1994 لمجرد
المتعة و التجربة.
</p><p>
<b>5. ما هى فوائد لينكس الهامة فى رأيك ؟</b>
<br><br>
هذا سؤال جميل :-)
<br><br>
للينكس فائدتين كبيرتين. الأمن كما أوضحت سابقا هو ميزة ضخمة, كما أن لينكس يخدم
كأداة تعليمية. يجب على المرء أن ينظر للغرب و الإقتصاد الغربى خلال 10-15 سنة
الماضية ليدرك ما أقوله.
لنأخذ عامل الأمن, لولا أهمية الأمن لما كانت الانترنت بهذا الانتشار و الشعبية
و القوة التى نراها اليوم.
الآن, بدلا من الثقة العمياء فى البرنامج الذى تشتريه و تصمم به موقعك و نقاط
البيع الإلكترونى بدون أن تعلم ان كان به أبواب خلفية, الآن الوسيلة الوحيدة
لمعرفة ان كانت البرامج آمنة من وجهة نظر المستخدم, هى أن ترى مصدر البرنامج و
تتأكد مما يقوم به فعلا.
حقيقة أن هناك الاف من مستخدمى لينكس الذين يدققون فى مصادر البرامج بصفة يومية
و يكتشفون الثغرات و يصدرون اصلاحات لها فى غضون ساعات ان لم يكن دقائق, هو مصدر
اضافى لتأكيد الثقة فى لينكس.
لينكس هو الخيار الوحيد الموجود لضمان عدم وجود أبواب خلفية, و عدم الإعتماد
على الثقة العمياء و لكن على المعرفة التقنية.
بالنسبة للفائدة الكبرى الثانية للينكس كأداة تعليمية , يمكن أن يستخدم لينكس
هؤلاء الذين ينظرون الى أشياء مختلفة مثل البرمجة و البروتوكولات .....الخ.
و أيضا فإن لينكس و فرى بى اس دى ( FreeBSD) كانوا و مازالوا يستخدمون فى
الجامعات الأمريكية و الأوروبية كأداة تعليم و بحث, يمكنك أن تنظر الى معظم
أجزاء لينكس ( فى ما عدا النواة) مثل جنومى و كى دى إى و اباتشى و غيرها لتجد
أنها كانت فى معظمها مشاريع بدأت فى الجامعات بواسطة طلاب أرادوا أن يكونوا
مبدعين ألا يكون هذا رائعا لو حدث شىء مماثل فى الجامعات العربية ؟؟
</p><p>
<b>6. ما الذى يزعجك فى حركة المصادر المفتوحة ؟</b>
<br><br>
عدم وجود موقع موقع واحد يضم كل شىء. أعتقد أن لينكس قد يكون متعبا بالنسبة
للمستخدم المبتدىء لكى يبدأ أولى خطواته, أعتقد أن حركة المصادر المفتوحة يجب
أن تكون أكثر تنظيما فى مساعدة المبتدئين.
</p><p>
<b>7. كيف ترى موقع اللغة العربية فى حركة المصادر المفتوحة ؟</b>
<br><br>
أعتقد أن اللغة العربية يمكن و يجب أن تستخدم كما تستخدم اللغات الألمانية و
الفرنسية و اليابانية فى لينكس. يتجه المستخدم أن يبرمج باللغة الإنجليزية و
لكن واجهة المستخدم يجب أن تكون باللغة العربية. و أنا أيضا - على عكس
الكثيرين - مقتنع بأن تكون الأساسيات مثل الأوامر من سطر الأوامر باللغة
العربية أيضا. الأساسيات مثل أن تكون قادرا على أن تكتب رسالة و أن ترسلها
بالبريد الالكترونى و أن تتأكد من صحة الهجاء و أن تطبعها ...... الخ. بدون
أن نعتمد على بيئة رسومية كاملة مثل جنومى أو كى دى اى.
</p><p>
<b>8. أيّ دور لك سبق أن كان في الماضي بخصوص لاينكس /المصادر المفتوحة ؟</b>
<br><br>
حاولت تحفيز الناس بإظهار أنّ النتائج يمكن أن تنجز حتى من قبل شخص مثلى :-).
أنا، لست مبرمجا.  أنظر نفسي أكثر كأنى محترف كومبيوتر، ليس بمعنى إقتحام مواقع
ويب أو أجهزة (لاأعرف شيء حول ذلك)، لكن من ناحية التفكير بكيف الوصول الى حل
لملئ الحاجات المختلفة هناك. أنا كنت أيضا دعائى جدا (البعض قد ينظرون الى كشخص
اتدخل فيما لا يعنينى) حول ما هي أفضل طريقة للحصول على النتائج. أنا،على سبيل
المثال, سريع فى التحرك لوضع الحلول العربية فى المصدر الرئيسى للبرامج, لكي لا
ننتهي بالبدء ثانية بعد 3-4 سنوات من الآن.
</p><p>
<b>9. ماذا سيكون دورك في المستقبل بخصوص لاينكس / مصدر مفتوح ؟</b>
<br><br>
مهما يحتاج حقا لإبقاء arabeyes والجهد لجلب لاينكس إلىالعالم العربي والإسلامي,
وأنا سأكون راغب فى مساعدة أى شخص فى هذا. أنا كنت دائما منفتح جدا لأى إقتراحات
أوأفكار ولا يوجد لدى جدول أعمال حقا - إذا كان عندي الوقت، أنا سأساعد، انها
بتلك البساطة حقا:-) وذلك هو أجمل ما فى الموضوع كل هذا، نعم هناك عمل من
الضّروري أن يتم ونعم نحتاج الناس للمساعدة، لكنّك تعرف؟ وضعنا جدول أعمالنا
وتسلسلنا الزمني.  أنا سأحاول عمل ما بوسعي للعمل مع المواهب العربية العظيمة
هناك للمساعدة فى تحقيق كل ما من شأنه تعظيم جهدنا الجماعى.
</p><p>
<b>10. ما هى مساهماتك الرئيسية فى لاينكس العربي ؟ </b>
<br><br>
تجيء بضعة أشياء الى عقلى (كلاهما قديم وحديث (أى مستمرة))، + ساعدت مع عربايز
وأساهم فيه كعضوفى مجموعة الإدارة.
<ul>
  <li>أكملت القاموس ( قاموس عربى/انجليزى على الإنترنت).
  <li>العمل على جعل فيم (Vim) يدعم العربي.
  <li>مساعدة (بشكل بسيط) في mlterm (محاكى طرفى متعدد اللغات)
  <li>بحثت وطورت بعض حلول الطباعة باللغة العربية(txtbdf2ps، الخ)
  <li>العمل على توعية الكثير من مجموعات المصادر المفتوحة بأهمية العمل على
      دعم اللغة العربية بشكل أفضل.وإدراج هذا الدعم فى برامجهم.
</ul>
إنّ المساهمة التي لها أهمية أكثر من الآخرين هي المساعدة على تشكيل عربايز
وجدول أعماله. أنا أيضا، كمساهمة، عملت شغل عظيم في المجادلة مع الناس :-)
الكثير من الذي عملته في السنة الماضية حقا يتعدى الحلول "معلبة" بسيطة -- ،
أحزرأننى ما عملت بما فيه الكفاية :-) في الواقع، أنا جزء من فريق  ولذا
ساعدت أعضاء فريقي عمليا فى أيّ شيء إحتاجناه تقريبا كما ساعد باقى أعضاء الفريق.
</p><p>
<b>11. كيف ترى وضع المصادرالمفتوحة و لاينكس فى المجتمع العربي ؟</b>
<br><br>
أعتقد أن المصادر المفتوحة و لاينكس سيشقون طريقهم إلى الجامعات والمدارس وفي
النهاية إلىالحكومات. أنا لحتى لا أفهم لم لا يجد لاينكس طريقه لكل المستخدمين
العرب الآن !!
</p><p>
<b>12. ما الطريق المثالي للتطوير والتقدّم في رأيك ؟</b>
<br><br>
ملت إلى معالجة المشاكل والقضايا مباشرة. جهز قائمة بالمطلوب عمله، ابحث عن
الناس الذي قد يهتمّون و يساعدون. قسّم العمل وضع تسلسل زمني لعمله, و كلّ شهر
أوإثنين راجع قائمتك ثانية و كرر العملية في حالة أيّ شيء جديد يجيء.
</p><p>
<b>13. أيّ المناطق في رأيك تحتاج أكثر العمل؟</b>
<br><br>
أنا أميل إلى القول بأنّ له ليس في المجال التقني , مع أن كل مساعدة ستقدّر
هناك :-) أعتقد رفع الوعي من المحتمل هوالمنطقة الأكثر أهمية. بذلك أعني ،
إعلام والكلام مع الجامعات، الحكومات، الأعمال التجارية، الخ حول لاينكس و ما
يحتاجونه للتحول. أعتقد الإتصال بين مجموعات مستعملين لاينكس المختلفة هناك
حاسم و مهم. عموما ، مثل أيّ مشروع كبير ضرورة استمرار نتائجه التقنية أساسي ،
لكن الذي نفتقره فى هذه المرحلة هو الوعي على نطاق واسع.
أنا أحبّ سمع شركة كبيرةأو جامعة أو حكومة يقتربان من كيان عربي
(مثل arabeyes أو haydarlinux أو...)  لملئ حاجاتهم بدلا من أن تذهب إلى
شركة غربيةمثل ريدهات أو ماندراك (يلاحظ , arabeyes ليست شركة - انها جهد
تطوعى من أفراد؛ أنا فقط إستعملت arabeyes من ناحية الحصول على النصيحةأو
طلب مساعدة في المجال). أفكّر الإلتزام ايضا شيء يجب أن يراه الناس ويفكّروافيه
حقا.
</p><p>
<b>14. ماذا الذى تحب رؤيته اليوم قبل غدا ؟</b>
<br><br>
لاينكس العربي على كلّ مكتب :-) بالإضافة إلى الجامعات تعلن عن الإلتزام بدعم
لاينكس ولاينكس العربي.
</p><p>
<b>15. ما الذى يجعلك راغبا فى التحرك و المساعدة ؟</b>
<br><br>
حبّي لتراثي وحاجتى للإثبات إلى العالم بإنّنا عرب ومسلمون قديرون (إن لم يكن
بدرجة أكبر) من أي واحد هناك. ليس كجزء من "نحن الأفضل (تكبر)"، لكن من ناحية
الندية و الفرص المتساوية وأن تؤخذ بجدية في جهودنا وألايقلّل من شأننا.
</p><p>
<b>16. ماذا هى الإنجازات العربية فى لينكس التى شدت انتباهك و أسعدتك ؟</b>
<br><br>
فتح mlterm الباب حقا إلى العديد من الأشياء. إمتلاك المحاكى الطرفى العربي
(xterm) فتح الباب أمام انجازات مختلفة التى كانت صعبة فى السابق.
</p><p>
<b>17. ما بعض مواقعك/قنواتك المفضّلة ؟</b>
<br><br>
ميولى سياسية؛ الجزيرة، الخ :-) لكنّي أميل إلى زيارة linuxtoday.com بالإضافة
إلى slashdot.org و freshmeat.net في أغلب الأحيان.
</p><p>
<b>18. ماذا تخبر الآخرين لكى يمكنهم المساعدة ؟</b>
<br><br>
اعملها - فقط اقفز في خصص نفسك للعمل واعملها. أنت قد تتعب في باديء الأمر ،
لكن هناك الكثير من الناس الذي سيكونون راغبين لمساعدتك (إستعمال قوائم
عربايزالبريدية للمساعدة). أعتقدأن أكبر مشكلة واجهتنا أننا (arabeyes) رأينا
نقصّ فى الإلتزام. الناس يأتون و يرون الجهود المختلفة و يقولون "عظيم أريد
المساعدة" وبعد ذلك يختفون ببساطة. هناك ما يقال حول النية، لكن هناك أكثر
بكثير لكي يقال حول الإلتزام والنتائج الفعلية. سّاعة أوإثنان بالإسبوع (نعم
إسبوع) يفعل العجائب.
</p><p>
<b>19. كيف تستمرّ فى نشر لينكس+العربى ؟</b>
<br><br>
مرة ثانية، أنا أقول علاقات عامّة أكثر (رفع الوعي) ، مطوّرين أكثر وجامعات
أكثر بكثير تسبق هذاالطريق وتدعم جهودنا.
</p><p>
<b>20. أين ترى لاينكس عربي في 5 سنوات ؟</b>
<br><br>
في 3 أو 4 حكومات؛ في عدد من الشركات الصغيرةفي العالم العربي وفي جامعات كثيرة.
</p><p>
<b>21. أين ترى نفسك في 5 سنوات ؟</b>
<br><br>
في مكان ما حيث يمكننى أن أساعد ليس فقط فى لاينكس، لكن أساعد العالم
العربي/الاسلامي بتصميم الرقاقة الإلكترونية بالإضافة إلى الدفع لتعانق البحث
والتطوير كطريقة حياة. أنا واحد من الذين يؤمنون برد الجميل لأمتى، التربية
والتراث. أنا أحب أن أعيش وأعمل في بلاد عربية على تلك المبادىء؛ أنا لا أفهم
لماذا لا يوجد بلدعربي لا ينتهز فرصة في منحنا كعرب في الخارج فرصة لجعل
الأمورمختلفة ويحفّز عودتنا- و سيكون رابحا بالتأكيد.
</p>
</div>
<p align="left"><font color="#ff0000">
  <i>Translation courtesy of - Mohamed Eldesoky</i></font>
</p>
