<!--
 $Id$

 -->
<p align="right"><font color="#ff0000"><i>Original</i></font></p>
<b>The Basics ...</b>
<br>
<table border="0" cellpadding="0" cellspacing="6">
<tr>
  <td>&nbsp;</td>
  <td>Full Name</td>
  <td>&nbsp;</td>
  <td colspan="3">Nadim Shaikli</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Age</td>
  <td>&nbsp;</td>
  <td colspan="3">32</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Country of origin</td>
  <td>&nbsp;</td>
  <td colspan="3">Iraq</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Residing in</td>
  <td>&nbsp;</td>
  <td colspan="3">California, USA</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Occupation/Studying</td>
  <td>&nbsp;</td>
  <td colspan="3">Computer architect and chip design engineer</td>
</tr>
</table>
<p>
<b>1. Is there a project or site that you are affiliated with ? how ?</b>
<br><br>
Not really - I've been closest aligned to <a href="http://www.arabeyes.org/">
Arabeyes.org</a> since a great deal of my time is spent on it and the various
things arabeyes stands for and advocates.
</p><p>
<b>2. What are your thoughts on linux and open-source ?</b>
<br><br>
I think its the best thing to happen to software development in general
since computers were invented.  Not so much because its free, but because
its such a great learning experience and such a great medium to learn and
see how things work and function, plus you can change things so easily.
</p><p>
<b>3. What got you interested in linux and open-source ?</b>
<br><br>
With the current political situation that has enveloped our Arab and
Muslim lands, I was shocked by a couple of experiences in which I saw
foreign companies supposedly upholding security for Arab companies and
governments.  A great deal of the Arab world is now embarking on the
internet and is moving most (if not all) of it daily transactions and
business on the 'net and I'd even assume some very sensitive data/info.
Having all that info protected by a foreign, potentially hostile, company
(and thus country) seemed ludicrous and beyond belief to me.  I started
to ponder why aren't people looking into linux in the Arab world and
started looking at my daily usage and how I would go about writing,
emailing, printing Arabic on linux and saw a major disconnect.  I then
opted to do a more intense search on the internet to see if anyone has
started along the path of Arabizing linux and came across aunyx (arabeyes'
predecessor).  It wasn't in active development from what I saw but it had
potential and as such I made some comments, made some suggestions and took
it upon myself to do what I preached and jumped-in and started producing and
bringing to reality ideas, both mine and others', in order to make Arabic
and linux a reality.  That was really my first very deep and intimate
introduction to open-source.
</p><p>
<b>4. When did you first get interested/involved in open-source ?</b>
<br><br>
Since my daily work involved me being on a linux/unix machine, I've been
using unix (mostly SunOS and solaris) for 10+ years.  The rise of linux over
the past 4-5 years has also caught my eye and I really really loved the
idea of finding bugs, trying to fix 'em and making any suggestions that
might be useful.  I started hacking (programming) minor changes to what
was called xbiff++ (an email indicator) in order to add sounds anytime
an email is received -- silly I know.  That was back in 1993 or 1994 I
think, just for fun really.
</p><p>
<b>5. What are open-source's major advantages as far as you are concerned ?</b>
<br><br>
That's a great question :-)  Linux has two major advantages.  As noted earlier,
security is a huge advantage as well as linux serving as an educational
tool.  One only has to look at the west and western economy over the
past 10-15 years to realize what I'm talking about.
<br><br>
Let's take security.  If security was and continues to be a concern, the
internet would have never taken off and would have never become as popular
as it's gotten.  Now, instead of opting for blind trust in which a person
buys a piece of software and sets up websites and databases and entry point
without really knowing if they have back-doors and hidden portals.  The only
way to really know that a piece of software is truly secure, from a user
prospective, is to see the source code and to check what goes on in a
piece of software him/her-self.  The fact that there are millions of linux
users who scrutinize the source code on a daily basis and report any potential
issues in a matter of minutes, with fixes no less, is certainly reassuring.
Linux is the only option out there that guarantees no back-doors, not based
on blind trust, but based on technical knowledge.
<br><br>
As for the second major advantage, linux could be used as a great learning
tool for those looking onto various aspect such as programming in general
or protocol expertise or packaging or product prototyping, etc.  To take
things into prospective, linux and FreeBSD were and continue to be used
and developed by major US and European universities first and foremost
as a teaching tool.  You look at the major linux components out there
beyond the kernel (it the heart of the Operating System (OS)) and you'll
see things like Gnome, KDE, Xfree, Apache, etc.  A great deal of those
applications were university projects (from Stanford, to MIT) in which
students were challenged to be creative to fill a need.  Wouldn't it be
great if something similar were to be undertaken in the Arab world ?
</p><p>
<b>6. What irks/displeases you about the entire movement ?</b>
<br><br>
I think the lack on one site that brings everything together.  I think linux
could be very overwhelming to a new user (newbie) to take-in at first.
I think Open Source ought to be a bit more structured in helping out newbies.
</p><p>
<b>7. How do you see Arabic fitting into the entire movement ?</b>
<br><br>
I think Arabic could and should be used in the manner that many people use
Spanish, German and Japanese on linux.  The user opts to continue to do
all his programming and documentation in english, but the user interface
needs to be Arabic-capable.  I also, unlike some, believe in supporting the
basics from the command-line in Arabic.  The basics, in my book, include
such as being able to write a document, email that document, spell-check
it, print it, etc without having to resort to Gnome or KDE (full-fledged
GUI environments).
</p><p>
<b>8. What has your role been in the past regarding linux/open-source ?</b>
<br><br>
I've tried to motivate people by showing that results can be gotten even
by someone like myself :-).  I, mind you, am NOT a software programmer.
I view myself more of a hacker, not in the sense of breaking into websites
or machines (I know nothing about that), but in terms of thinking of how to
bring about a solution not from a software elegant solution, but just to get
a long lasting means to fill-in the various needs out there.  I've also been
very vocal (which some might view as being too intrusive) about how best to
go about getting results with a long-term emphasis to roadmaps.  I'm, for
instance, adamant on having all Arabic solutions go to the main trunk of
an application/program so that we don't end up starting anew 3-4 years from
now.  No work should be lost <i>ever</i>.
</p><p>
<b>9. What will your role be in the future regarding linux/open-source ?</b>
<br><br>
Whatever is really needed to keep arabeyes and the effort to bring Linux to
the Arab and Muslim world, I'd be willing to help out with.  I've been very
open to suggestions and ideas and don't really have a set agenda - if I have
the time, I will help, its as simple as that really :-)
<br><br>
That's the beauty of all of this, yes there is work that needs to be done
and yes we need people to help out, but you know what ?  We set our own
agenda and our own time-line.  I'll try to do my best to work with the
great Arab talent out there to help bring forth whatever is necessary to
further our collective technical abilities.
</p><p>
<b>10. What would you say your major contributions to Arabic Linux have been ?</b>
<br><br>
A few things come to mind (both past and present (ie. on-going)),
<ul>
  <li>Helped with Arabeyes and contribute to it as part of a think-tank
  <li>Completed QaMoose
  <li>Brought Arabic support to vim
  <li>Assisted (minorly) in mlterm
  <li>Researched and brought forth some printing solutions (txtbdf2ps, etc)
  <li>Vocalized some concerns to the various lists/consortiums for better
      Arabic support and inclusion
</ul>
The one contribution that is likely more important than others is in helping
structure arabeyes and its agenda.  I also, as a contribution, have done
a great job in arguing with people :-)  A great deal of what I've done in
the past year is really beyond a simple <i>packaged</i> solutions -- I guess
I haven't done enough :-)  In reality, I'm part of a team (the arabeyes
team) and so I've helped my team members in virtually anything that needed
to be done in as much the same way that my team members have done to help me.
</p><p>
<b>11. How do you see open-source and linux fitting into the Arab community ?</b>
<br><br>
I think open-source and linux will start making its way to the universities
and schools and ultimately into the governments.  I don't see why linux can't
be used by all Arabs today even.
</p><p>
<b>12. What is the ideal path for development and progress in your opinion ?</b>
<br><br>
I've tended to tackle problems and issues head-on.  Create a list of what
is needed to be done, find the people that might be interested in helping and
divide-up the work and set a time-line to get it all done.  Once every month
or two revisit your list and go through the cycle in case anything new comes
up and needs to be addressed.
</p><p>
<b>13. What areas in your opinion need the most work ?</b>
<br><br>
I would tend to say that its not in the technical realm, eventhough all
help would be appreciated there :-)  I think raising awareness probably
is the most important area to work on.  By that I mean, informing
and talking to universities, governments, businesses, etc about linux and
what it would take for them to switch over.  I think communication between
the various linux user groups (LUGs) out there is crucial to that end.
In general, like in any large project the need to sustain one's technical
results is paramount, but what is lacking at this stage is awareness and
large scale buy-in from major Arab organizations out there.  I would love
to hear a big company or university or a government approach an Arab entity
(like arabeyes or haydarlinux or ...) to fill their needs instead of going
to a western company such as RedHat or Mandrake (do note, arabeyes is not
a company - its a community volunteer effort; I just used arabeyes in terms
of getting advice or seeking assistance in the field).
<br><br>
I also think people should look more into volunteerism and into what they
need (and must even) do to give back to their communities and herritage;
it's <i>NOT</i> all about money.  We as Arabs seem to lack that mentality
and the commitment that accompanies it and that really worries me.  I'm
hoping, as I've seen some encouraging signs of late, that is might have
been a generational transient matter which is improving.  In short, I think
Arab programmers, developers and entrepreneurs should be very keen in
knowing who they are and what they stand for to better commit to their
goals.  For that knowledge will afford them a higher chance of attaining
those goals, thus, improving their and our standing in this world.
</p><p>
<b>14. What would you like to see happen sooner rather than later ?</b>
<br><br>
Arabic Linux on every desktop :-)  As well as universities announcing their
commitment and backing to linux and Arabic linux.
</p><p>
<b>15. What gets you moving and wanting to contribute ?</b>
<br><br>
My love for my heritage and wanting to prove to the world that we Arabs
and Muslims are as capable (if not more so) than anyone out there.  Not
as part of a "we are better" attitude (takabor), but as part of equal
opportunity and being taken seriously in our efforts and not being
belittled.
</p><p>
<b>16. What Arabic+Linux accomplishments have really excited you ?</b>
<br><br>
mlterm has really opened-up the door to so many things.  Having an Arabic
terminal emulator (xterm) has opened-up the door to various developments
that previously would have been difficult.
</p><p>
<b>17. What are some of your favorite links/channels ?</b>
<br><br>
Mine tend to be political; aljazeera, etc :-)  But I tend to visit,
linuxtoday.com as well as slashdot.org and freshmeat.net often.
</p><p>
<b>18. What would you tell others that might consider helping ?</b>
<br><br>
Do it - just jump-in and commit yourself and do it.  You might be overwhelmed
at first, but there are lots of people that would be willing to help you
(use arabeyes' mailing-lists for help).  I think the biggest problem that
we (arabeyes) have seen is the shear lack of commitment.  People come-by
and see the various efforts and say "this is great, I want to help" and then
simply disappear.  There is something to be said about intent, but there is
lots more to be said about the actual commitment and results.  An hour or
two per week (yes week) would do wonders.
</p><p>
<b>19. How would you go about expanding Arabic+Linux ?</b>
<br><br>
Again, I'd say more Public Relations (raising awareness), more developers
and lots more universities riding down this route and supporting our efforts.
</p><p>
<b>20. Where do you see Arabic Linux in 5 years ?</b>
<br><br>
In 3-4 governments; in a number of smaller startups in the Arab world and
in alot of universities.
</p><p>
<b>21. Where do you see yourself in 5 years ?</b>
<br><br>
Somewhere where I can help not only linux, but help the Arab/Muslim world
with chip design as well as push for the embracing of Research and Development
(R&D) as a way of life.  I'm one who believes in giving back to my community,
upbringing and heritage.  I would love to live and work in an Arab country
along those lines; I just don't understand why none of the Arab countries out
there don't take a chance in giving us Arabs abroad a chance to make a
difference and incentivize our return - its a win-win situation really.
</p><p>
