<!--
 $Id$

 - Translated by, Nadim Shaikli on July 25, 2003
 -->
<p align="right"><font color="#ff0000"><i>Translated</i></font></p>
<b>The Basics ...</b>
<br>
<table border="0" cellpadding="0" cellspacing="6">
<tr>
  <td>&nbsp;</td>
  <td>Full Name</td>
  <td>&nbsp;</td>
  <td colspan="3">AbdulRahman Bin Saad Aljadhai</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Age</td>
  <td>&nbsp;</td>
  <td colspan="3">36</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Country of origin</td>
  <td>&nbsp;</td>
  <td colspan="3">Saudi Arabia</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Residing in</td>
  <td>&nbsp;</td>
  <td colspan="3">Saudi Arabia</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Occupation/Studying</td>
  <td>&nbsp;</td>
  <td colspan="3">Assistant professor and consultant to special/general
                  interest groups</td>
</tr>
</table>
<p>
<b>1. Is there a project or site that you are affiliated with ? how ?</b>
<br><br>
In 1999 I participated in the establishment of the
<a href="http://www.linux.org.sa/">Saudi Linux Group</a> as a special
interest sub-entity within the Saudi computer association.  I am currently
that group's president.
</p><p>
<b>2. What are your thoughts on linux and open-source ?</b>
<br><br>
Freedom is the fundamental driving force behind the idea of Open Source.
This force has enabled Open Source to redefine the rules of the game within
the computer programming market.  This freedom has also enabled to break the
single solution mentality that many hold and has given the user more options.
It has also enabled the developer and researcher to participate in programming
projects which only a few select companies used to deal with.
</p><p>
<b>3. What got you interested in linux and open-source ? And when did it start
?</b>
<br><br>
In 1993 I obtained a copy of Linux version 0.9, my needs were in the beginning
modest - I simply wanted to run a unix-like system on my Intel PC at
home.  In 1995 my interests turned from Linux to Open Source in general and
the role that such a movement could play in the Arab world.  My various
attempts to convince, educate and enlighten colleagues about Open Source lead
me concentrate more on it which in turn got the concept ingrained in my being.
</p><p>
<b>4. What are open-source's major advantages as far as you are concerned ?</b>
<br><br>
I found that the most important features of Open Source as far as the the local
user is concerned are - the creation of an atmosphere in which competition is
rampant and where data security is paramount.  And contrary to what one would
expect, open source's <i>free</i> status doesn't constitute a major impetus to
the user in the Arab region.  In all my dealings and cooperation with various
private and public entities, the primary driving force for selecting open
source was the pressure on the developers to produce better services and the
creation of a competitive spirit along with raising the level of data
security.
</p><p>
<b>5. What irks/displeases you about the entire movement ?</b>
<br><br>
Open Source software is new to the region and as such it requires preparing
the necessary man force and abilities to deal with it which translates to
its current need to get Arabized as well as finding people willing to
specialize in this field.  With the various university interest that has
been shown of late, though, in which  open source and Linux among others
are being actively taught, I see the situation changing gradually.  One
important aspect which needs to be noted, technical support is not as
prevalent in the Arab region as it is elsewhere.
</p><p>
<b>6. Where do you see the open-source movement in 5 years ?</b>
<br><br>
I view the current situation changing from open source's chances of existence
and continuation to one in should open source takes a leadership role in
defining technology.  I expect that the participation of universities and
various research centers to increase and get better organized (I imagine the
creation of departments in which computer usage is taught only with Open
Source software).  Countries that transfer over to using open source
will be the model for others to follow.
</p><p>
<b>7. And in 10 years ?</b>
<br><br>
I see open source matured and capable of (either through pressuring or
through convincing) to change the model by which closed source software
producers operate.  I also would expect to see those companies moving
over to a more open market model in which profits/revenues are dependent on
customer support and not license sales.
</p><p>
<b>8. What has your role been in the past regarding linux/open-source ?</b>
<br><br>
Through the Saudi Linux Group we've been able to hold lesson/tutorial sessions
as well as participate in various conferences (like the Gitex conference held
in Dubai); I also consult to various interested entities with regard to open
source.  Of late, with the help of Dr. Khaled Al-Ghoneim, I was able to 
publish a book in Arabic titled "Open Source Software: The truth behind the
upcoming numerical revolution" which presents the idea behind open source
without getting into all the technical details.
</p><p>
<b>9. How did the target audience in Saudi Arabic and elsewhere in the Arab
      world react to this book ?</b>
<br><br>
We found the region very much in need of such material.  We found some noting
that they didn't understand the philosophy of open source until after they
read the book.  Despite the limited distribution of the current version of
the book, we've had a large number of interested people throughout the Arab
world read it.
</p><p>
<b>10. Did this book get published under an open license ?  And is there an
   electronic version of the book that an Arab enthusiast could use to
   raise awareness with regard to open-source ?</b>
<br><br>
Initially the book will be available in printed form for some months, there
is, on the other hand, an impetus to have it be available in electronic
form so that many enthusiasts could get a hold of the book.  As for the open
source (and here I mean the license from the GNU project), we didn't see it
as befitting a book as what is in the book are the authors' personal
experiences along with facts meant to bring forth decisions which affect the
IT industry in the Arab region.
</p><p>
<b>11. What is your opinion about the current Arabic support in Linux ?</b>
<br><br>
Arabic support is being actively and constantly developed and I anticipate
the day an Arab user could natively use Linux in an Arabic environment is
very close at hand due to that work.  Arabizing linux has enabled us now to
showcase Linux as a platform for personal computer use.
</p><p>
<b>12. How do you see Linux's current stance in the Arab world ?</b>
<br><br>
The Arab region requires bigger efforts in raising awareness, training and
overall development.  For instance, there are big achievements in Arabizing
miscellaneous projects in which Arabs were not involved.  This reality,
although positive in nature, clearly shows the small number of Arab
enthusiasts (and not those with abilities) to develop open source software.
It is, thus, necessary to find leading projects of interest so as to
encourage Arab developers to enter this field.
</p><p>
<b>13. What was Saudi Linux Group's contributions to Arabic Linux ?</b>
<br><br>
The Saudi Linux Group saw that in order to support the Arabic language, one
must being with new programmers.  To that end, the group along with the Kind
Abdul Aziz University for science and technology are cooperating in offering
mutually beneficial working environments for those students about to graduate.
I've also backed various projects to bring them forth to reality in a timely
manner.  One of the most important outcomes of that work has been the ability
to locate a number of capable enthused developers interested in open source.
</p><p>
<b>14. We know that King Abdulaziz City for Science and Technology (KACST)
   released a group of Arabic fonts under free license (GPL), did the Saudi
   Linux Group have any hand (ie. did it play a role) in this decision ?</b>
<br><br>
There is continual coordination with KACST and there were consultations and
suggestions with regard to that matter.  We thank the City for Science and
Technology for their initiative and hope that it will be of great benefit in
supporting the Arabic language within the open source movement.  Truth be
told, the first release of these fonts was on a CD which the Saudi Linux
Group produces on a constant basis and which was distributed at Gitex in
Dubai last October.
</p><p>
<b>15. What will your role be in the future regarding linux/open-source ?</b>
<br><br>
We'll work on convincing large corporations and institutions in the country
of the importance of open source and their support for the movement.  We'll
also continue to offer a proper atmosphere for Arab developers so that they
can continue in developing open source programs.
</p>
<p align="right"><font color="#ff0000">
  <i>Translation courtesy of - Nadim Shaikli</i></font>
</p>
