<!--
 $Id$

 -->
<p align="left"><font color="#ff0000"><i>Original</i></font></p>
<div dir="rtl" align="right">
<b>بيانات أساسية ...</b>
<br>
<table border="0" cellpadding="0" cellspacing="6">
<tr>
  <td>&nbsp;</td>
  <td>الإسم الكامل</td>
  <td>&nbsp;</td>
  <td colspan="3">عبدالرحمن بن سعد الجضعي</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>العمر</td>
  <td>&nbsp;</td>
  <td colspan="3">36 عاما</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>الجنسية</td>
  <td>&nbsp;</td>
  <td colspan="3">سعودي</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>بلد الإقامة الحالية</td>
  <td>&nbsp;</td>
  <td colspan="3">السعودية</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>الوظيفة</td>
  <td>&nbsp;</td>
  <td colspan="3">أستاذ مساعد + مستشار لدى جهات عامة وخاصة</td>
</tr>
</table>
<p>
<b>1. مشاريع المصادر المفتوحة التى تعمل معها (مجموعات) ؟</b>
<br><br>
قمت في عام 1999م بالمشاركة في إنشاء مجموعة لينكس السعودية كمجموعة
إهتمام خاص في جمعية الحاسبات السعودية. وأشغل حالياً منصب رئيس المجموعة.
</p><p>
<b>2. ماذا ترى فى فكرة المصادر المفتوحة ؟</b>
<br><br>
الحرية هي المنطلق الأساسي لفكرة المصادر المفتوحة. وهي التي مكنت
المصادر الحرة من قلب موازين اللعبة في سوق برمجيات الحاسب. لقد أدت هذه
الحرية إلى كسر الإحتكار وإعطاء المستخدم المزيد من البدائل. كما مكنت
المبرمج والباحث من الدخول في مشاريع برمجية كانت في السابق حكرا على
القليل من الشركات.
</p><p>
<b>3. ما سبب اهتمامك بالمصادر المفتوحة ؟ و منذ متى بدأ هذا الإهتمام ؟</b>
<br><br>
في عام 1993م حصلت على نسخة من نظام لينكس الإصدار 0,9 وكانت حاجتي
في البداية هي إستخدام نظام متوافق مع يونكس على جهاز إنتل المنزلي. وفي
عام 1995م تحول الإهتمام من برنامج لينكس إلى المصادر الحرة بوجه عام
والدور التي يمكن أن تلعبه في العالم العربي.  وكانت محاولات إقناع الزملاء
بفكرة المصادر المفتوحة سببا في بلورة وترسيخ تصور حركة المصادر المفتوحة لدي.
</p><p>
<b>4. ما هى مميزات لينكس / المصادر المفتوحة فى نظرك ؟</b>
<br><br>
قد وجدت أن من أهم المزايا التي تهم المستخدم في المنطقة هي: خلق جو
من المنافسة وأمن المعلومات. وعلى العكس مما هو متوقع فإن مجانية البرامج
المفتوحة لا تشكل محرك رئيسي للمستخدم في المنطقة. ففي جميع الجهات العامة
والخاصة التي تعاونت معهم في مجال المصادر المفتوحة كان المحرك الرئيسي
لإعتماد المصادر المفتوحة هو الضغط على المنتجين لتقديم خدمات أفضل وخلق جو
من المنافسة بالإضافة إلى رفع المستوى الأمني لشبكات المعلومات.
</p><p>
<b>5. و ما هى عيوبها ؟</b>
<br><br>
المصادر المفتوحة جديدة على المنطقة وتحتاج إلى إعداد كوادر قادرة على
التعامل معها لذا فهي تحتاج حاليا إلى جهد في التدريب وتحمل زيادة في تكلفة
المتخصصين في هذا المجال. لكن مع إهتمام الجامعات مؤخرا بتدريس المصادر
المفتوحة مثل لينكس وغيره، فإن الوضع سيتغير تدريجيا. كما أن الدعم الفني
في المنطقة العربية غير متوفر بالشكل المطلوب كما هو الحال في الدول الأخرى
</p><p>
<b>6. كيف ترى حركة المصادر المفتوحة بعد 5 سنوات ؟</b>
<br><br>
تنتهي المناظرة الحالية حول هل للمصادر المفتوحة فرصة للوجود
والإستمرار وتنتقل المصادر المفتوحة إلى مرحلة قيادة التقنية. أتوقع أن
تكون مساهمة الجامعات ومراكز الأبحاث كبيرة وأكثر تنظيما (أتصور وجود أقسام
لتدريس الحاسب باستخدام المصادر المفتوحة فقط).  الدول التي تتحول الآن إلى
المصادر المفتوحة سوف تكون نموذجا يحتذى من قبل الدول الأخرى
</p><p>
<b>7. و كيف تراها بعد 10 سنوات ؟</b>
<br><br>
أراها نضجت واستطاعت إجبار (أو إقناع) الشركات المنتجة للبرامج
المغلقة إلى التحول إلى النموذج المفتوح واعتماد النموذج التجاري المبني
على الربح من الدعم وليس بيع رخص البرامج.  كما أن الدول كبيرها وصغيرها
تمتلك تقنيات البرمجيات وتتحكم بها بشكل يجعلها تحقق الإكتفاء الذاتي من
البرمجيات.
</p><p>
<b>8. ما الدور الذى تقوم به لنشر فكرة المصادر المفتوحة ؟</b>
<br><br>
عن طريق مجموعة لينكس السعودية نقيم المحاضرات ونشارك في المعارض (مثل
معرض جايتكس بدبي) كما أقوم بتقديم إستشارات لبعض الجهات المهتمة بالمصادر
المفتوحة. ومؤخرا أصدرت مع الدكتور خالد الغنيم كتاب باللغة العربية
بعنوان "البرامج الحرة: حقيقة الثورة الرقمية القادمة" الذي يقدم فكرة
المصادر المفتوحة بدون الدخول في التفاصيل التقنية.
</p><p>
<b>9. و كيف استقبلت الجهات المعنية فى السعودية و المنطقة العربية هذا الكتاب ؟</b>
<br><br>
اكتشفنا حاجة المنطقة الماسة لمادة الكتاب. وجدنا البعض يذكر أنه لم
يفهم فلسفة المصادر المفتوحة إلا بعد قراءة الكتاب. ورغم التوزيع الضيق
للكتاب في نسخته الحالية إلا أنه قريء من مهتمين في مختلف أنحاء العالم
العربي. وبلغنا تشجيع كبير لإصدار النسخة النهائية من الكتاب.
</p><p>
<b>10. هل صدر هذا الكتاب تحت رخصة مفتوحة ؟ و هل يوجد نسخة إلكترونية من الكتاب
يمكن للمتحمس العربى أن يستخدمها فى نشر التوعية بالمصادر المفتوحة ؟</b>
<br><br>
في البداية سيتوفر الكتاب مطبوعاً لفترة أشهر وهناك عزم لتوفيره بصورة
الكترونية حتى يتمكن العديد من المتحمسين من الحصول على الكتاب. أما
بالنسبة للرخصة المفتوحة (وأقصد هنا الرخصة من مشروع GNU) فقد رأينا أنها
لا تناسب طبيعة الكتاب إذ أن ما في الكتاب هو تجارب شخصية للمؤلفين
بالإضافة إلى حقائق قصد منها الوصول إلى قرارات لها أثر على توجه تقنية
المعلومات في المنطقة العربية.
</p><p>
<b>11. كيف ترى وضع اللغة العربية فى لينكس ؟</b>
<br><br>
وضع اللغة العربية في تطور مستمر وأتصور أن اليوم الذي سيتمكن فيه
المستخدم العربي من إستخدام لينكس باللغة العربية قد بات وشيكا. تعريب
لينكس بدأ في تمكيننا الآن في عرض لينكس كنظام للحاسبات الشخصية.
</p><p>
<b>12. و كيف ترى وضع لينكس فى المنطقة العربية ؟</b>
<br><br>
المنطقة العربية تحتاج إلى جهود أكبر في مجال التوعية والتدريب
والتطوير. على سبيل المثال هناك أجزاء كبيرة من مشاريع التعريب لم يطورها
عرب بل أناس آخرون. وهذه الحقيقة مع أنها إيجابية من جانب إلا أنها تدل على
قلة المتحمسين (وليس قلة المؤهلين) لتطوير مصادر مفتوحة. لذا فمن الضروري
إيجاد مشاريع رائدة لتشجيع المطورين العرب على الدخول في هذا المجال.
</p><p>
<b>13. ماذا كان دور مجموعة لينكس-السعودية فى دعم اللغة العربية على لينكس ؟</b>
<br><br>
مجموعة لينكس السعودية رأت أن تطوير دعم اللغة العربية يجب أن يبدأ
بالمبرمجين الجدد.  لذا قامت المجموعة بالتعاون مع مدينة الملك عبدالعزيز
للعلوم والتقنية بتوفير معمل متكامل لمجموعة من طلاب الحاسب الآلي وشيكي
التخرج. وقدمت الدعم الكافي لكي يتم تطوير بعض المشاريع التي نشرت في
وقتها. وقد كان من أهم نتائج هذا المشروع هو إيجاد عدد من المطورين
المتحمسين للمصادر المفتوحة.
</p><p>
<b>14. نعلم أن مدينة الملك عبد العزيز للعلوم و التقنية قامت بإصدار مجموعة من
الخطوط العربية تحت رخصة حرة (GPL), فهل كان للينكس-السعودية دور فى هذا
القرار ؟</b>
<br><br>
هناك تنسيق مستمر مع المدينة وقد كانت هناك مشاورات وإقتراحات حول
الموضوع. ونحن نشكر هذه البادرة من المدينة ونأمل أن يكون لها فائدة كبيرة
في دعم اللغة العربية على المصادر المفتوحة. وفي الحقيقة أن أول توزيع لهذه
الخطوط كان على القرص المدمج الذي تصدره المجموعة بصورة مستمرة والذي وزع
في معرض جايتكس بدبي شهر أكتوبر الماضي.
</p><p>
<b>15. ما الدور الذى تخططون للقيام به فى المستقبل ؟</b>
<br><br>
العمل على إقناع المنشآت الكبيرة في البلد بأهمية المصادر المفتوحة
ومساعدتهم في ذلك. توفير جو مناسب للمطورين العرب لكي يستمرو في تطوير
برامج مفتوحة.
</p>
</div>
