<!--
 $Id$

 - Translated by, Isam Bayazidi & Mohammed Elzubeir
 -->
<p align="left"><font color="#ff0000"><i>Translated</i></font></p>
<div dir="rtl" align="right">
<b>بيانات أساسية ...</b>
<br>
<table border="0" cellpadding="0" cellspacing="6">
<tr>
  <td>&nbsp;</td>
  <td>الإسم الكامل</td>
  <td>&nbsp;</td>
  <td colspan="3">محمد سمير مصطفى</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>العمر</td>
  <td>&nbsp;</td>
  <td colspan="3">22 عاما</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>الجنسية</td>
  <td>&nbsp;</td>
  <td colspan="3">مصر</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>بلد الإقامة الحالية</td>
  <td>&nbsp;</td>
  <td colspan="3">القاهرة، مصر</b>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>الوظيفة</td>
  <td>&nbsp;</td>
  <td colspan="3">مستشار تقني في مجموعة AZA</b>
</tr>
</table>
<p>
<b>1. هل هناك مشاريع مفتوحة المصدر تعمل معها ؟ وما هي ؟</b>
<br><br>
أنا لا أعمل بشكل كامل مع أي فريق أو مشروع، لكني أراقب عن كثب فريق
عربايز و مجموعة مستخدمي لينكس في مصر. و أعمل على اكتشاف المشاكل و
الأخطاء المتعلقة باللغة العربية في أي من توزيعات لينكس
</p><p>
<b>2. ما هي أرائك بالنسبة للينكس و المصدر المفتوح ؟</b>
<br><br>
هي أفضل اختراع منذ اختراع الخبز الشرائح :)
<br><br>
بالتحديد، فإن أفضل ما فيه هي حرية الحصول على النص المصدري للبرامج، و
حرية التعديل على هذا النص لجعل البرنامج يناسب احتياجاتك. فعلى الرغم من أن
المطور يبذل جهدا ووقتا في بناء و تطوير برنامجه، يكون هناك دائما مجالا
للتحسين و التطوير، و هذا ما يجعل المصدر المفتوح أمرا رائعا. هذا بالإضافة
لكون البرامج المفتوحة المصدر وسيلة تعليمية ممتازة، و أن العمل مع مطورين
و مبرمجين آخرين يعطي خبرة ممتازة. و يمكن القول أن بعض البرامج المفتوحة
المصدر التي تكون في مرحلة التجريب (البيتا) تكافئ في ثباتها و جودتها بعض
البرامج التي وصلت لمرحلة الإصدار النهائي لبعض الشركات التجارية والربحية
في مجال التكنولوجيا.
</p><p>
<b>3. ما الذي شد اهتمامك في لينكس والبرامج المفتوحة المصدر ؟</b>
<br><br>
هناك أمران أساسان: الأمن، والمصدر المفتوح. في رأيي، فإن نظام جنو/لينس
أكثر أمنا من العديد من أنظمة التشغيل الأخرى، التي يمكن وصفها بأنها سيئة.
الأمن يجب أن يكون الأهتمام الأول للشركات الكبيرة والجمعيات والمؤسسات
وحتى الأفراد إلى حد ما. ولا يمكن تحقيق ذلك بدونقنية المصدر المفتوح.
وذلك لأن عداد كبيرا من المستخدمين يقومون بقراءة النص المصدري للبرامج، و
يعدلون عليه، ويفحصوه و يجربوه، وبذلك تكون عملية التعلم و التطوير
مستمرة. تعلم، و تعلم و تعلم، وعدل كلما تحتاج. و حتى إذا كنت لا تستطيع أن
تعدل على البرامج التي تستعملها، فإنك تستطيع أن توظف شخصا ليقوم بهذه
التعديلات عنك
</p><p>
<b>4. ما هي نكهة المثلجات (أيس-كريم) المفضلة لديك ؟</b>
<br><br>
أنا أفضل الأيس-كريم بنكهة السي :
</p><p>
<b>5. ما هي ميزات لينكس/المصدر المفتوح الأساسية في رأيك ؟</b>
<br><br>
كما قلت سابقا، الأمن، و الثبات، و كونها مفتوحة المصدر. حيث أن جنو/لينكس
يعطي أداء أفضل في الظروف الشديدة.
</p><p>
<b>6. ما الذي يزعجك حول حركة المصدر المفتوح ؟</b>
<br><br>
مسألة الحمايات Patents تؤذي أو تحاول أن تؤذي بعض البرامج المفتوحة
المصدر. بعض الشركات مثل مايكروسوفت تقوم بمخالفة كافة المقاييس. لماذا
يفعلون ذلك ؟ كما أن هناك مشاكل تتعلق بعدم وجود توثيق كاف لبعض البرامج
والواجهات. و هناك عامل آخر، غير متعلق بالمصدر المفتوح، هو أن المستخدمين لا
يقرؤون أو لا يريدون القراءة. قامت شركة مايكروسوفت بتحويل الكمبيوتر إلى
أداة يمكن لغبي أن يتعامل معه؛ فإذا لم يكن شيء ما موجود في قائمة
البداية Start فإنت لا تحتاجه ولا تريده. فإذا لم تكن تريد التعلم، فلا
يمكن لأي أحد أن يساعدك
</p><p>
<b>7. هل ترى أن العربية من الممكن أن تندمج مع حركة المصادر المفتوحة ؟</b>
<br><br>
لا أرى أي مانع أو عوائق من اندماج العربية في البرامج المفتوحة
المصدر. إذ أن الإصدارات الجديدة من مكتبات واجهات المستخدم إما تدعم
العربية بشكل كامل، أو أنها تحتاج لتعديلات بسيطة لتقوم بذلك. سنحتاج
لبرامج متخصصة ملائمة بعض الإحتاجات الخاصة بالعربية و الإسلام، ولكن هذه
البرامج من الممكن أن تأتي بمرحلة لاحقة. نحتاج الآن لبذل المزيد من الجهد
في إضافة دعم اللغة العربية لبعض البرامج الموجودة التي ينقصها هذا الدعم.
هناك دائما بدائل توفر هذا الدعم، لكن التركيز يجب أن ينصب على إضافة
الدعم على البرامج الأصلية الأكثر شيوعا و إستخداما. برنامج لينكس كونسول
يقدم حلا جيدا لدعم العربية، لكني أعتقد أنه من الضروري أن يصبح ممكنا استعمال
اللغة العربية في كل مكان، في ال terminal في ال console في برامج الواجهة
الرسومية... وكما قلت، من الممكن الحصول على هذا الدعم بسهولة في أغلب
البرامج، إلا أن بعضها لا يدعم العربية بشكل كامل. لكن علينا النظر فيها،
لمعرفة ما علينا أن نفعل لإضافة و تحسين هذا الدعم. فمثلا، حقيقة أن 
لا بوجد أي برنامج له أسم عربي من برامج واجهة
الأوامر النصية Command-Line هي من الأمور السيئة. تخيل لو أن لكل برنامج
أسم بالعربية والإنجليزية والألمانية و الفرنسية وغيرها، ستتحول الأمور
إلى مشكلة كبيرة. إستعمال الواجهة النصية يتجاوز هذه المشكلة، كما أننا
بحاجة لوثائق حول مختلف البرامج باللغة العربية.
</p><p>
<b>8. ما هي طبيعة عملك في لينكس والبرامج المفتوحة المصدر ؟</b>
<br><br>
لا أعتقد أنني قدمت الكثير، وذلك لأني لم أقم بتقديم فكرة جديدة. برنامج
كتوب على سبيل المثال يوظف إمكانيات مكتبات GTK2 لرسم العربية في عمل
برنامج تحرير نصوص يتوافق مع مقاييس يونيكود للنصوص في إتجاهين. كما أني
ساهمت ببعض التعديلات على عدد من المشاريع و البرامج، ولكنها غير مهمة في
رأيي. أنا أحاول أن أعمل من وراء الكواليس، بدون أن أعلم أو أظهر ما أقوم
به.
</p><p>
<b>9. كيف لك أن تصبح أكثر تأثيرا في لينكس و البرامج المفتوحة المصدر ؟</b>
<br><br>
هذا سؤال صعب. فأنا لا أحب أن أتكلم عن ما قمت به، و ما أنوي القيام به،
حتى لا أوقع نفسي في شيء قد لا أتمكن من القيام به. لكن بشكل عام، أنا
أحاول نشر مفاهيم لينكس والمصدر المفتوح، و أعتقد أن افضل طريقة لعمل ذلك
هي عن طريق المساهمة في مختلف المشاريع البرمجية و/أو مساعدة الآخرون على
المساهمة.
</p><p>
<b>10. ما هي أهم مساهماتك في دعم العربية في لينكس والبرامج المفتوحة المصدر حتى الآن ؟</b>
<br><br>
لا شيء محدد، ربما من الممكن أن أذكر برنامج كتوب، لكني أود أن أقدم
أكثر من ذلك بكثير.
</p><p>
<b>11. كيف ترى اندماج المصدر المفتوح ولينكس في المجتمعات العربية ؟</b>
<br><br>
للأسف، فأنا لا أرى الصورة كاملة من موقعي هذا. لكني لا أرى أن هذا الإندماج
يمكن أن يحصل الآن - ربما بعض الشركات و الجمعيات تستعملها، ولكنها نسبة ضئيلة.
ولم يبدأ الإنتشار الحقيقي بعد
</p><p>
<b>12. ما هي الطريقة المثلى للتطوير و الإستمرارية برأيك ؟</b>
<br><br>
تحديد الإحتياجات و المتطلبات. إذا كان ما تريده موجود، فاستعمله. إذا
لم يكن موجود، ولكن كان هناك شيئا يمكن التعديل عليه لتوفير ما تريده،
فعليك به. أما إذا لم يتوفر ما تريده، فهنا يمكن التوقف و التفكير. في حال
كنت أنت الوحيد الذي سيستعمل المنتج النهائي، عندها عليك كتابة برنامج
يلائم احتياجاتك أنت بالتحديد. أما إذ كان البرنامج له مستخدمين آخرين،
فعليك مراعاة إستخدامات المستخدمين الآخرين، وتوقع أخطاء الإستخدام.
بالمناسبة، أنا أفضل الطريقة الغير تقليدية في التطوير Bizarre Approach
</p><p>
<b>13. برأيك، ما هي المجالات التي تحتاج أغلب جهود التطوير ؟</b>
<br><br>
تحسين دعم العربية، و إزالة المشاكل المتبقية لهذا الدعم.
</p><p>
<b>14. ما الذي تتمنى أن تراه في أقرب وقت ؟</b>
<br><br>
إنتشار محدود للينكس أو على الاقل البرامج المفتوحة المصدر في العالم
العربي.
</p><p>
<b>15. ما الذي يحفزك ويزيد رغبتك بالمساهمة ؟</b>
<br><br>
حبي للبرمجة، وكون النظام الذي أعمل عليه نظاما حرا. العديد من الأشخاص
وضعوا، وما زالوا يضعون الكثير من الوقت و الجهد في بناء وتطوير لينكس
والبرامج المفتوحة المصدر. و أرى أنني لو كنت أستطيع المساعدة، و لا أقدم
هذه المساعدة، فأنا لا أستحق أن أستعمل هذا النظام. كما أنني أشعر أن
باستطاعة كل شخص أن يقدم ويساهم بشيء، لذا إذا ساعدت أحدا ما، أو قدمت له
نصيحة، فإني أشعر بأنني أقدم شيئا ما للمشروع.
</p><p>
<b>16. ما هي الإنجازات في مجال تعريب لينكس التي أثارت فيك الحماس و الفرح ؟</b>
<br><br>
أمران: Pango المستعمل في مكتبات GTK للتعامل مع العربية، و دعم العربية
في VIM. كما أني أحب برنامج mltem على الرغم أني لم أعطيه الأهتمام الذي
يستحقة في البداية. وبما أني لا أحب برنامج Emacs فإني لم أنزعج من عدم
دمج دعم اللغات ذات الإتجاهين bidi-emacs في البرنامج الأصلي، ولكني لست
سعيدا بذلك أيضا، فأنا أشعر أن المحرر vim كان وسيبقى أكثر تفوقا.
</p><p>
<b>17. ما هي بعض الوصلات المفضلة لديك ؟</b>
<br><br>
في المتصفح موزيلا الذي أستعمله، أضع الوصلات التالية في الشريط الشخصي
لي: وصلة لمنتدى موقع لينكس مصر، slashdot.org، freshmeat.net، و بالطبع
وصله ل google.com. وأحاول زيارة موقع Arabeyes.org عند توفر الوقت
</p><p>
<b>18. ماذا من الممكن أن تقول للآخرين لحثهم على الإنضمام والمساعدة في مشاريع لينكس والبرامج المفتوحة المصدر ؟</b>
<br><br>
أقول لهم أسباب تفوق جنو/لينكس، و أذكرهم أنه حتى لو لم ينقلوا جنو/لينكس،
فإنه من الممكن أن يستعملوا برامج مفتوحة المصدر من الأنظمة السيئة التي
يستعملوها. إصدارة لينكس Knoppix [التي تعمل من ال CD دون الحاجة للتثبيت]
رائعة للغاية. لا أستطيع أن أتذكر عدد نسخ هذه الإصدارة التي قمت بتوزيعها
لجهل الناس ليشاهدوا بأعينهم مدى جودة لينكس.
</p><p>
<b>19. كيف من الممكن نشر و تحسين العربية في لينكس ؟</b>
<br><br>
حلمي هو إزالة الحواجز بين المبرمجين والمستخدمين، لكن بالنسبة للآن، أرى
أن دعم الجامعات لجنو/لينكس ودعم التعريب سيكون أمران جيدان.
</p><p>
<b>20. أين تتوقع أن تصل العربية في لينكس بعد 5 سنوات ؟</b>
<br><br>
عندها، ستكون الجامعات تدعم جنو/لينكس. ولا أرى دعم من الحكومات، على الأقل
ليس من هنا (مصر).
</p><p>
<b>21. أين ترى نفسك بعد 5 سنوات ؟</b>
<br><br>
لا أعرف، لكني أتمنى أن أكون في موقع يسمح لي بالمساعدة و المساهمة في
البرامج المفتوحة المصدر عامة، و بجنو/لينكس بالتحديد.
</p><p>
<b>22. هل عندك أي نصيحة من الممكن أن توجهها للجمهور المتحدث بالعربية حول لينكس والبرامج المفتوحة المصدر ؟</b>
<br><br>
أقول لهم: تحلوا بالصبر. أعلم أن جنو/لينكس ليس جاهزا 100% لإستخدام
المستخدمين العرب، لكن الأمور تتحسن. و أود القول أن أي مساهمة ستكون
مقدرة، و أن الوقت و الجهد الذي من الممكن تقديمه سيكون ذا قيمة كبيرة
للمشروع.
</p>
</div>
<p align="left"><font color="#ff0000">
  <i>Translation courtesy of - Isam Bayazidi & Mohammed Elzubeir</i></font>
</p>
