<!--
 $Id$

 - Conducted by Sabrine Barakat (July 26, 2003)
 -->
<p align="right"><font color="#ff0000"><i>Original</i></font></p>
<b>The Basics ...</b>
<br>
<table border="0" cellpadding="0" cellspacing="6">
<tr>
  <td>&nbsp;</td>
  <td>Full Name</td>
  <td>&nbsp;</td>
  <td colspan="3">Mohammed Sameer Moustafa</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Age</td>
  <td>&nbsp;</td>
  <td colspan="3">22</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Country of origin</td>
  <td>&nbsp;</td>
  <td colspan="3">Egypt</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Residing in</td>
  <td>&nbsp;</td>
  <td colspan="3">Cairo, Egypt</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Occupation/Studying</td>
  <td>&nbsp;</td>
  <td colspan="3">IT consultant, AZA Group</td>
</tr>
</table>
<p>
<b>1. Is there a project or site that you are affiliated with ? If so, how ?</b>
<br><br>
A: Not actually affiliated with any projects but I try to stay close to
<a href="http://www.arabeyes.org/">Arabeyes.org</a> and the
<a href="http://www.linux-egypt.org/">Linux Egypt LUG</a>. I try to
discover any problems related to Arabisation in any distro.
</p><p>
<b>2. What are your thoughts on Linux and open-source ?</b>
<br><br>
They're the best things since sliced bread! :)
<br><br>
Specifically, the freedom to obtain the source code to and modify it to suit
your needs. Yes, the developer may have spent the time and effort coming up
with it, but the fact that there may - and always will - be something missing
(ie. something that can be improved upon) is a great thing. Not to mention
that open-source in general is a very good learning medium, and that by
working with other developers you'll gain good experience.  I can also say
that the beta version of some open-source software is equivalent to the
stable releases put out by some for-profit technology companies.  
</p><p>
<b>3. What got you interested in Linux and open-source ?</b>
<br><br>
Mainly two things: security and the open-source approach. In my opinion,
GNU/Linux is by default more secure than other operating systems, most of
which are crappy. Security should be the main concern for large companies,
organizations and individuals, to a degree. And this can't be achieved without
open-source technology. Because many users browse the source code, modify it,
examine it and experiment with it, it's a continuous learning process. Learn,
learn, learn and modify as much as you need. And even if you can't modify the
apps you are using, you can still hire someone else to do it for you...
</p><p>
<b>4. What's your favourite ice-cream flavour ?</b>
<br><br>
C-flavoured ice-cream :)
</p><p>
<b>5. What are Linux/open-source's major advantages, as far as you are
      concerned ?</b>
<br><br>
As I said earlier, its security, stability and the fact that it's
open-source. And GNU/Linux performs better even under extreme conditions.
</p><p>
<b>6. What irks/displeases you about the open-source movement ?</b>
<br><br>
Patent issues are really hurting or trying to hurt some open-source
software. Some companies, such as Microsoft, are breaking all the standards.
What are those guys trying to do? The lack of documentation is also sometimes
a concern. Another factor, which is not specific to open-source, is that
users don't or don't want to read. Microsoft made idiot-proof computers; if
it's not in the 'Start' menu, then it's not wanted. Not here - if you are
unwilling to gain basic knowledge about the program, then no one can help you.
</p><p>
<b>7. How do you see Arabic fitting into the open-source movement ?</b>
<br><br>
I don't see anything preventing Arabic from fitting in. The new versions of
the major GUI toolkits either fully support Arabic or would need some very
small modifications to do so. We will need some special applications to meet
specific Arabic and Islamic requirements, but these can come at a later
stage. We need to do some more work to add Arabic support to some existing
apps lacking proper support. There are alternatives available, but we should
really focus on the original ones. The Linux console is really a fine
solution, but I think we should be able to read and write Arabic anywhere - in
the terminal, on the console, in GUI apps...As I said, this can be done easily
now with most apps, though some don't support Arabic completely. But we should
look at them to see what can be done. The fact that there aren't any Arabic
names for the command line tools or for any apps in general is very
bad. Imagine what would happen if the same application had Arabic, English,
German and French names - what a big traffic jam! The GUI translation can come
after that, and then we'll need Arabic documentation...
</p><p>
<b>8. How have you been involved in Linux/open-source ?</b>
<br><br>
I don't think that I've done much, as I didn't come up with a creative
idea. Katoob, for example, is utilizing the ability of Gtk 2.x to render
Arabic and to do mirroring according to the unicode standard. Though I've
contributed some small patches to some projects [xchat, gtksourceview, etc],
the patches are not that important from my point of view. Mainly I try to
work silently, behind the scenes, to do what I can without all the bells
and whistles.
</p><p>
<b>9. How will you become more involved in Linux/open-source ?</b>
<br><br>
That's a hard question. I don't tend to talk about what I've done or what
I'm planning to do so I don't trap myself with something I may not be able to
do. But in general, I try to spread the word about GNU/Linux and/or
open-source. I think that the best thing to do is to contribute to various
software projects and/or help others to contribute.
</p><p>
<b>10. What would you say your major contributions to Arabic Linux/open-source
       have been ?</b>
<br><br>
Nothing in particular. Maybe I can say Katoob, but I want to do something
more... ;)
</p><p>
<b>11. How do you see Linux/open-source fitting into the Arab community ?</b>
<br><br>
Unfortunately, my position doesn't allow me to see the whole picture. But I
don't really see it fitting in right now - maybe some organizations and
companies are using it, but they're only a small fraction. It hasn't caught on
yet.
</p><p>
<b>12. What is the ideal path for development and progress in your opinion
       ?</b>
<br><br>
To identify your needs and requirements. If something similar is available,
then go for it. If there is nothing available but something can be adapted,
then use that. If nothing is available, then that depends. If you know you'll
be the only one using the final product, then you can write the apps that will
suit your needs in particular :) Otherwise, you'll have to consider what the
other users are going to do with it - we all like misbehaving with
applications, don't we? BTW: I really like the bizarre approach to
development.
</p><p>
<b>13. What areas, in your opinion, need the most work ?</b>
<br><br>
Fine-tuning and polishing up the remaining glitches in the Arabic support. 
</p><p>
<b>14. What would you like to see happen sooner rather than later ?</b>
<br><br>
A bit of GNU/Linux or at least open-source spreading here [Arab world] would
be really great.
</p><p>
<b>15. What gets you moving and wanting to contribute ?</b>
<br><br>
I love to do it - I'm a coder. And the system I'm using is completely free!
Many people have put and continue to put a lot of time and effort into
building and improving Linux/open-source. I figure that if I can help but
don't, then I don't deserve to use it. Also, I feel that everyone has
something to contribute, so if I can guide someone - or at least give a
bit of advice - then I feel I'm doing something.
</p><p>
<b>16. What Arabic Linux accomplishments have really excited you ?</b>
<br><br>
Two things - Pango, the Gtk rendering back end and Arabic vim. I also
really like mlterm, though I didn't realize its importance in the
beginning. Since I tend to hate emacs, I can say that I wasn't too upset about
not being able to merge emacs-bidi with the mainstream version. Though I can't
say I'm terribly happy about it either, I do feel that vim is and always has
been superior. ;)
</p><p>
<b>17. What are some of your favourite links/channels ?</b>
<br><br>
My Mozilla personal bar carries links to the Linux Egypt forum,
slashdot.org, freshmeat.net and google.com for sure! I try to spend time on
Arabeyes.org when I'm free.
</p><p>
<b>18. What would you tell others to get them involved in the Linux/open-source
       movement ?</b>
<br><br>
I would tell them why GNU/Linux is better, and I would remind them that
even if they can't switch to GNU/Linux completely, they can at least use
open-source software on their current (crappy) operating systems. Knoppix, the
Linux Live CD, is marvelous. I can't count the number of copies I've given out
to people so they could see for themselves how good Linux is.
</p><p>
<b>19. How would you go about expanding Arabic Linux ?</b>
<br><br>
Breaking down the barriers between developers and users is my dream, but
for now, seeing universities pushing GNU/Linux and supporting the Aarabisation
movement would be nice.
</p><p>
<b>20. Where do you see Arabic Linux in five years ?</b>
<br><br>
By then, hopefully some universities will be supporting GNU/Linux. I don't
see any help from governments, at least not here...
</p><p>
<b>21. Where do you see yourself in five years ?</b>
<br><br>
I don't know, really, but I'd like to be in a place where I can contribute
to the open-source community in general and to GNU/Linux in particular.
</p><p>
<b>22. Do you have any advice for the Arabic-speaking world regarding Linux
       and open-source ?</b>
<br><br>
Just have a little patience. I know that GNU/Linux is not 100% ready for
Arabic users, but things are really getting better. I would also like to say
that any and all contributions are greatly appreciated and well worth the time
and effort.
</p>
