<!--
 $Id$
 
 - Translated by, Ossama Khayat
 -->
<p align="left"><font color="#ff0000"><i>Translated<br></i></font></p>
<div dir="rtl" align="right">
<b>بيانات أساسية ...</b>
<br>
<table border="0" cellpadding="0" cellspacing="6">
<tr>
  <td>&nbsp;</td>
  <td>الإسم الكامل</td>
  <td>&nbsp;</td>
  <td colspan="3">روزبه بورنادر</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>العمر</td>
  <td>&nbsp;</td>
  <td colspan="3">24 عاما</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>الجنسية</td>
  <td>&nbsp;</td>
  <td colspan="3">إيران</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>بلد الإقامة الحالية</td>
  <td>&nbsp;</td>
  <td colspan="3">طهران، إيران</b>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>الوظيفة</td>
  <td>&nbsp;</td>
  <td colspan="3">باحث في جامعة شريف للتّكنولوجيا، و رئيس
" <a href="http://www.farsiweb.info/">شريف فارسي ويب</a>"،
 وهي شركة مؤسّسة حديثاً تعمل على البرامج الحرّة، ودعم اللغات العالمية، والخيارات المحليّة.</b>
</tr>
</table>
<p>
<b>1. هل هناك مشاريع مفتوحة المصدر تعمل معها؟ وما هي؟</b>
<br><br>
لقد كنت المؤسّس لمشروع فارسيويب وأنا ناشط هناك غالباً. أنا أيضاً صائن ثاني لجنيو فرايبيدي (http://fribidi.sf.net/)، و عضو للجنة التّقنيّة في مشروع فارسي لينكس. ساعدت حديثاً أيضاًفي بدء مشروع
<a href="http://www.utf-8.org">UTF-8</a>
<br>
أنا أيضًا أعمل على <a href="http://www.farsitex.org/">فارسيتكس</a>
 و قليلاً على <a href="http://www.wikipedia.org/">ويكيبيديا</a>.
</p><p>
<b>2. ما هي آرائك بالنسبة للينكس و المصدر المفتوح؟</b>
<br><br>
كيف يستطيع أحد أن يطرح كلّ أفكاره في هذه العجالة؟ هما ببساطة برنامجيّ المختارين، لهوايتي، أعمالي و بحثي. إنهما يساعدانني أن أرد الفضل!
</p><p>
<b>3. ما الذي شد اهتمامك في لينكس والبرامج المفتوحة المصدر؟</b>
<br><br>
بشكل رئيسيّ، كان الحظّ. في عام 1995 أشتركت في مشروع اتّضح لاحقاً أنه أول مشروع برمجي مطوّر ضمن رخصة
جنيو للعموم في إيران (فارسيتيكس). رئيس المشروع (محمد غودسي) سمع عن فكرة البرامج الحرّة، و بالرّغم من أنه كان غير ملمّ للتّفاصيل الدّقيقة، أراد أن يصدر البرامج تحت هذه الرخصة. ووقّعت عقداً معه بعدم إعطاء شيفرة البرنامج لأي شخص قبل أن أصبح عضوًا!
(بالطبع، تم تصحيح كل شيء بعدها، والشيفرة المصدرية متوفرة الآن على الموقع.)
<br>
لكن الذي جعلني مندمجاً بشدة هو القدرة على إصلاح الأشياء التي أستخدمها. أكره امتلاك شيئ ما أحتاج بشكل جدّي أن أصلحه، وأعرف حتّى كيف أصلحه، لكننيّ لا أستطيع. هذا "التصليح" قد يعني عدّة أشياء، بدء من خلل مزعج بسيط، ووصولاً إلى إضافة السّمات الكبيرة.
</p><p>
<b>4. ما هي نكهة المثلجات (أيس-كريم) المفضلة لديك؟</b>
<br><br>
الشوكولاته. الفراولة إذا كان ذلك غير متاحًا.
</p><p>
<b>5. ما هي ميزات لينكس/المصدر المفتوح الأساسية في رأيك؟</b>
<br><br>
القدرة على استخدام البرامج لأيّ غرض، القدرة لتعديلها بحسب حاجاتك الشّخصيّة،
 القدرة للتشارك بها مع الآخرين والقدرة على جمع كل ما سبق.
<br><br>
إنه يسمح لي بعمل أشياء بالبرامج لا يمكن عملها لولا ذلك، كإضافة سمات لايهتم لها البائع حيث لا يكون لديه سوق لها، على سبيل المثال.
</p><p>
<b>6. ما الذي يزعجك حول حركة المصدر المفتوح؟</b>
<br><br>
عدد المستخدمين الذين لا يفهمون الهاكرز/المبرمجين. بصدق، إنهم يحتاجون لذلك. يصلني الكثير من الرسائل الإلكترونيّة التي تشكو من البرامج التي لا تعمل. نادراًما تلقّيت تقرير خلل جيّد، و قد تلقّيت رقع (برمجية) قليلة جدًّا في السّنوات الطّويلة قد عملت فيها على برامج المصدر المفتوح، وبصفة خاصّة أبدًا من مجتمع المستخدم الفارسيّ أو الإيرانيّ. لكننيّ أتلقّى رسائل إلكترونيّة كثيرة من الأشخاص الذين يعتقدون أنه *واجبي* مساعدتهم بعمل ما يريدون أن يعملوه بالبرامج. لا يفهمون أننيّ قد ضحّيت بالفعل كثيرًا للبرنامج نفسه.
</p><p>
<b>7. هل ترى أن العربية من الممكن أن تندمج مع حركة المصادر المفتوحة؟</b>
<br><br>
إنّها كتابة يجب أن تُدعم في كلّ البرامج الضّروريّة، حيث أن لكلّ الناس الحقّ في استخدام لغتهم لأيّ غرض، بما يشمل الحاسوب. يتوافق معه أنني ولدت إيرانيّاً، أتحدّث الفارسيّة، والتي تُكْتَب بالنصّ العربيّ. لذا فالكتابة العربيّة أصبحت أوّلاً حاجة، ثمّ اهتمام لي.
</p><p>
<b>8. ما هي طبيعة عملك في لينكس والبرامج المفتوحة المصدر؟</b>
<br><br>
أنا لم أكن أبدًا في "لينكس". إنّه فقط كرنل يصلح لي كمستخدم. و إذا عنى ذلك نظام التّشغيل، فأنا لست خبيراً في ذلك أيضاً.
<br><br>
بالنّسبة للمصدر المفتوح، فقد كان منذ 1995 عندما عملت على فارسيتكس. لكن كوني مشتركاً فعلاً في البرامج التي يستخدمها الجميع، مثل موزيلا أو جينوم، فقد كان ذلك في بداية سنة 1999 على ما اعتقد.
</p><p>
<b>9. كيف لك أن تصبح أكثر تأثيرا في لينكس و البرامج المفتوحة المصدر؟</b>
<br><br>
أخاطر بأعمال على البرامج والمصدر المفتوح بالفعل. أعتقد أن ذلك أكثر ما يمكن أن يكون من مشاركة :-)
</p><p>
<b>10. ما هي أهم مساهماتك في دعم العربية في لينكس والبرامج المفتوحة المصدر حتى الآن؟</b>
<br><br>
المساهمة بالرقع البرمجية وتقارير الخلل لجينوم، موزيلا، مكتبة جنيو سي، Qt، وكيدي... كان عملي الرّئيسيّ، و أنا أيضًا أدير قوائم المراسلات عن الحوْسبة الفارسيّة والمسائل من هذا النّوع على شبكة جامعتنا. لكنّ عملي الأكثر تأثيرًا، كان على الأرجح مساعدة بهداد إسفاهبود أن يصبح صائن فريبيدي الذي مما ساعد البرنامج أن يصبح تطبيقاً متوافقاً تماماً مع قاعدة يونيكود الثّنائيّة الاتّجاه.
</p><p>
<b>11. كيف ترى اندماج المصدر المفتوح ولينكس في المجتمعات العربية؟</b>
<br><br>
أنا لا أعرف الكثير عن المجتمع العربيّ. أنا فارسيّ. لكننيّ أعتقد أن إجابتي للمجتمع الإيرانيّ يمكن أن تُستَخدَم بنفس الطريقة. إنّها ببساطة القطعة المفقودة التي كانت في المجتمعات الأمريكيّة أو الأوربّيّة لفترة طويلة. نحتاج لأن نحصل عليها هنا أيضاً.
</p><p>
<b>12. ما هي الطريقة المثلى للتطوير و الإستمرارية برأيك؟</b>
<br><br>
لا أفهم سؤالك. لذا سأعطي إجابةً عشوائيّةً : حاول جعل النّاس تتعلّم البرمجة و بالأخص، تعلّم رَقْع البرامج المتوفرة.
</p><p>
<b>13. برأيك، ما هي المجالات التي تحتاج أغلب جهود التطوير؟</b>
<br><br>
الحصول على دعم عربيّ *مناسب* و *كامل* في كلّ توزيعات لينكس المتوفرة والتي تهتم باللّغات. إن كان بإمكانها تكلم السّويديّة أو الألمانيّة، فلم لا العربيّة أو الفارسيّة؟
</p><p>
<b>14. ما الذي تتمنى أن تراه في أقرب وقت؟</b>
<br><br>
النّاس الذين يساعدون بتصليح *الخلل*، إما بالإبلاغ عنه، أو رقعه بشكل مناسب.
</p><p>
<b>15. ما الذي يحفزك ويزيد رغبتك بالمساهمة؟</b>
<br><br>
إنّه السّيناريو الذي أكتب فيه، ذلك الّذي عائلتي تكتب في، و ذلك الّذي أصدقائي يكتبون في. أريدهم أن يكونوا قادرين على استخدامه على الحاسبات.
</p><p>
<b>16. ما هي الإنجازات في مجال تعريب لينكس التي أثارت فيك الحماس و الفرح؟</b>
<br><br>
كانت إثارتي الحقيقيّة المجتمع الذي بناه عربايز. ما كنّا ناجحين أبدًا بعمل ذلك للمجتمع الفارسيّ. لكنّ ربّما لدى عربايز الخصائص السكانية إلى جانبه :-)
</p><p>
<b>17. ما هي بعض الوصلات المفضلة لديك؟</b>
<br><br>
<a href="http://www.lwn.net/">lwn.net</a>،
<a href="http://www.slashdot.org/">slashdot.org</a>،
<a href="http://www.gnu.org/">gnu.org</a>،
<a href="http://www.wikipedia.org/">wikipedia.org</a>،
<a href="http://www.news.bbc.co.uk/">news.bbc.co.uk</a> وبعض المواقع الفارسيّة التي لن تهمك :-)
</p><p>
<b>18. ماذا من الممكن أن تقول للآخرين لحثهم على الإنضمام والمساعدة في مشاريع لينكس والبرامج المفتوحة المصدر؟</b>
<br><br>
لست جيّداً فعلاً في ذلك. عندما أحاول إقناع المبرمجين، أقول لهم: "يمكن أن تصلح أشياء، و يمكن أن تصبح مشهورًا في نفس الوقت. فقط انظر إليّ ! :- )))" لكننيّ فاشل عادة في ذلك.
</p><p>
<b>19. كيف من الممكن نشر و تحسين العربية في لينكس؟</b>
<br><br>
أعتقد أننيّ سأستمرّ في المساعدة في البنية التّحتيّة على المستوى المنخفض، من تصليح الخلل في المكتبات، إلى المساعدة في إيجاد بعض التمويل للنّاس المهتمّة. قد يبدو الأخير مثل المستوى العالي لبعض النّاس، خاصّة عندما يستلزم العمل مع الحكومة، لكنّ صدّقني، هو مستوى منخفض فعلاً. إنّه غير مرح، إنه مكافحة، وهو بصعوبة إصلاح خلل في مكتبة!
</p><p>
<b>20. أين تتوقع أن تصل العربية في لينكس بعد 5 سنوات؟</b>
<br><br>
خلال خمسة سنوات، أتوقع أن يكون لدينا دعم للعربيّة يعمل دون سابق إعداد في كلّ توزيعات العامّة. في عشرة سنوات، سوف تكون فقط لغة أخرى (مدعومة)، جهود االتخصيص المحلي الرّئيسيّة تتتركز على لغات الأقلّيّة أو الميّتة أو الكتابات مثل أفيستان أو تينجوار.
</p><p>
<b>21. أين ترى نفسك بعد 5 سنوات؟</b>
<br><br>
ليس في أي مكان مهمّ حقّاً أو مثير. أحبّ الاختفاء في الحشد فقط، وأتأكّد أن النّاس ستواصل عمل ما كنت أعمله. أحبّ رؤية نفسي  أعمل أي شيئ أحبّ عمله الآن، بدلاً من مشاجرة الحاسبات لعمل شيء بسيط من خلالها.</p><p>
<b>22. هل عندك أي نصيحة من الممكن أن توجهها للجمهور المتحدث بالعربية حول لينكس والبرامج المفتوحة المصدر؟</b>
<br><br>
نعم. حوّل إليه الآن ! استثمر فيه. سيكون أفضل لك على المدى البعيد من ثقة في شركات خاصّة تعمله لك.
</p> 
</div>
<p align="left"><font color="#ff0000">
  <i>Translation courtesy of - Ossama Khayat</i></font>
</p>
