<!--
 $Id$

 - Conducted by Sabrine Barakat (Dec 18, 2003)
 -->
<p align="right"><font color="#ff0000"><i>Original</i></font></p>
<b>The Basics ...</b>
<br>
<table border="0" cellpadding="0" cellspacing="6">
<tr>
  <td>&nbsp;</td>
  <td>Full Name</td>
  <td>&nbsp;</td>
  <td colspan="3">Roozbeh Pournader</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Age</td>
  <td>&nbsp;</td>
  <td colspan="3">24</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Country of origin</td>
  <td>&nbsp;</td>
  <td colspan="3">Iran</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Residing in</td>
  <td>&nbsp;</td>
  <td colspan="3">Tehran, Iran</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Occupation/Studying</td>
  <td>&nbsp;</td>
  <td colspan="3">Researcher at Sharif University of Technology, and
                  president of "Sharif FarsiWeb", a newly-founded company
                  working on free software, internationalization, and
                  localization.</td>
</tr>
</table>
<p>
<b>1. Is there a project or site that you are affiliated with ? If so, how ?</b>
<br><br>
I've been the founder of the <a href="http://www.farsiweb.info/">FarsiWeb
project</a> and I'm mostly active there. I'm also a co-maintainer of GNU
<a href="http://fribidi.sf.net/">FriBidi</a>, and a member of the technical
committee of the <a href="http://www.farsilinux.org/">FarsiLinux</a> project.
I also recently helped start <a href="http://www.utf-8.org/">Project UTF-8</a>.
<br><br>
I also work on <a href="http://www.farsitex.org/">FarsiTeX</a> and
<a href="http://www.wikipedia.org/">Wikipedia</a> a little.
</p><p>
<b>2. What are your thoughts on Linux and open-source ?</b>
<br><br>
How can one tell all of his thoughts in such a small a space? ;-)
They're simply my platform of choice, for my hobby, my business, and my
research. They let me contribute back!
</p><p>
<b>3. What got you interested in Linux and open-source ?</b>
<br><br>
It was mainly luck. In 1995 I got involved in what turned out to be the
first software project developed in GNU GPL in Iran (FarsiTeX). The
project leader (Mohammad Ghodsi) had heard about the free software idea,
and although he was not aware of the exact details, he wanted the
software to be released under GPL. I turned out signing a contract with
him for not giving the source code to anybody before I could become a
member! (It was all fixed later, of course, and the source code is
available from the web site.)
<br><br>
But what was got me heavily involved the ability to fix things I use. I
hate having something at my hand that I seriously need to fix, and I
even know how to fix, but I can't. This "fixing" may mean several
things, from a simply annoying bug, to adding big features.
</p><p>
<b>4. What's your favourite ice-cream flavour ?</b>
<br><br>
Chocolate. Strawberry if that's not available.
</p><p>
<b>5. What are Linux/open-source's major advantages, as far as you are
      concerned ?</b>
<br><br>
The ability to use the software for any purpose, the ability to change
it for your personal needs, the ability to share it with anybody, and
the ability to combine all of the above.
<br><br>
It lets me do things with the software that I can't do otherwise, like
adding a feature the vendor is not interested in, where it doesn't have
a market, for example.
</p><p>
<b>6. What irks/displeases you about the open-source movement ?</b>
<br><br>
The number of evangelists or users who don't understand the
hackers/coders. Honestly, they need to. I get a lot of email nagging
about a non-working software. I've rarely received a good bug report,
and I've received very few patches in the long years I've worked on Open
Source software, most specifically never from the Iranian or Persian
user community. But I receive many emails from people who think it's my
*duty* to help them do what they want to do with the software. They
don't understand that I have already sacrificed a lot for the software
itself.
</p><p>
<b>7. How do you see Arabic fitting into the open-source movement ?</b>
<br><br>
It's a script that should be supported in all necessary software, as
every human beings has the right to use her/his own language for any
purpose, including computing. I happen to been born an Iranian, speaking
Persian, which is written in the Arabic script. So the Arabic script has
become first a need, and then an interest for me.
</p><p>
<b>8. How have you been involved in Linux/open-source ?</b>
<br><br>
I have never been in "Linux". It's just a kernel that works for me as a
user. And if that "OS" means "Operating System", I'm not either an
expert in that.
<br><br>
As for Open Source, it's been since 1995 that I worked on FarsiTeX. But
getting really involved in the software that everyone runs, like Mozilla
or GNOME, that was early 1999, I guess.
</p><p>
<b>9. How will you become more involved in Linux/open-source ?</b>
<br><br>
I'm already risking a business on free software and Open Source. I guess
that's as involved as people get ;-)
</p><p>
<b>10. What would you say your major contributions to Arabic Linux/open-source
       have been ?</b>
<br><br>
Patches and bug reports to GNOME, Mozilla, GNU C library, Qt, KDE, ...
have been my main work, and I also run mailing lists about Persian
computing and such matters on our university network. But my most
effective work, should have probably been helping Behdad Esfahbod become
a maintainer of FriBidi, which helped it become a fully Unicode
compliant implementation of the Bidirectional Algorithm.
</p><p>
<b>11. How do you see Linux/open-source fitting into the Arab community ?</b>
<br><br>
I don't know much about the Arab community. I'm a Persian. But I guess my
answer for the, say, Iranian community can be used just the same. It's
simply a missing piece that has been in the European or American
communities for a long time. We need to have it also here.
</p><p>
<b>12. What is the ideal path for development and progress in your opinion
       ?</b>
<br><br>
I don't understand the question. So I will give a random answer: Try to
get people learn to program, and most importantly, learn to patch
existing software.
</p><p>
<b>13. What areas, in your opinion, need the most work ?</b>
<br><br>
Getting *proper* and *complete* Arabic support in every Linux
distribution out there that cares about languages. If it can say
something in Swedish or German, why not Arabic or Persian?
</p><p>
<b>14. What would you like to see happen sooner rather than later ?</b>
<br><br>
People helping to get *the bugs* fixed, either by reporting them
properly, or patching them.
</p><p>
<b>15. What gets you moving and wanting to contribute ?</b>
<br><br>
It's the script I write in, the one my family writes in, and the one my
friends write in. I want them to be able to use it on computers.
</p><p>
<b>16. What Arabic Linux accomplishments have really excited you ?</b>
<br><br>
My real excitement was the community Arabeyes built. We were never
successful to do that for the Persian community. But maybe Arabeyes has
the demographics on his side ;)
</p><p>
<b>17. What are some of your favourite links/channels ?</b>
<br><br>
LWN.net, Slashdot.org, GNU.org, Wikipedia.org, news.BBC.co.uk, and a
couple of Persian websites you won't be interested in ;-)
</p><p>
<b>18. What would you tell others to get them involved in the Linux/open-source
       movement ?</b>
<br><br>
I'm not really good at that. When I try to convince programmers, I tell
them: "You can get things fixed, and you can become famous at the same
time. Just look at me! :-)))))" But I'm usually unsuccessful at that.
</p><p>
<b>19. How would you go about expanding Arabic Linux ?</b>
<br><br>
I guess I will continue to help in the low level infrastructure, from
fixing bugs in libraries, to helping find some funds for interested
people. The latter thing may look like high level to some people,
specifically when it involves working with the government, but believe
me, it's really low level. It's not fun, it's laboring, and it's as hard
to do as fix a bug in a library!
</p><p>
<b>20. Where do you see Arabic Linux in five years ?</b>
<br><br>
In five years, I guess you will have Arabic working out of the box in
all major distributions. In ten years, it will just be one other
(supported) language, main localization efforts going to dead or
minority languages or scripts like Avestan or Tengwar.
</p><p>
<b>21. Where do you see yourself in five years ?</b>
<br><br>
Not anywhere really important or interesting. I would love to just
disappear in the crowd, having made sure that people will continue the
work I've been doing. I like to see myself just doing whatever I like to
do at the moment, instead of fighting computers to let me do simple
things with them.
</p><p>
<b>22. Do you have any advice for the Arabic-speaking world regarding Linux
       and open-source ?</b>
<br><br>
Yes. Switch to it now! Invest at it. It will be better for you in the
long run than trusting private companies to do it for you.
</p>
