<!--
 $Id$

 - Conducted by Nadim Shaikli (Jan 19, 2004)
 -->
<p align="right"><font color="#ff0000"><i>Original</i></font></p>
<b>The Basics ...</b>
<br>
<table border="0" cellpadding="0" cellspacing="6">
<tr>
  <td>&nbsp;</td>
  <td>Full Name</td>
  <td>&nbsp;</td>
  <td colspan="3">Ahmad Sulaiman Al-Rasheedan</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Age</td>
  <td>&nbsp;</td>
  <td colspan="3">41</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Country of origin</td>
  <td>&nbsp;</td>
  <td colspan="3">Kuwait</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Residing in</td>
  <td>&nbsp;</td>
  <td colspan="3">Kuwait</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Occupation/Studying</td>
  <td>&nbsp;</td>
  <td colspan="3">IT Project manager</td>
</tr>
</table>
<p>
<b>1. Is there a project or site that you are affiliated with ?
      If so, how ?</b>
<br><br>
The only site I am affiliated with is
<a href="http://www.arabeyes.org">Arabeyes</a>. I used to be affiliated
with xtradius.com when I was heavily into the ISP business and I
was active in C coding. Those days are over :) I stumbled on Arabeys
and the
<a href="http://www.arabeyes.org/project.php?proj=Wordlist">Wordlist</a>
project back in July 2003. I saw it was not finished and took it upon
myself to finish the pending words and I did. Now I enjoy cruise control
mode with Wordlist. I am honored to have played an active role in Wordlist
project.
</p><p>
<b>2. What is one thing that most people don't know about you
      (hobby, pet-peeve, abilities, etc) ?</b>
<br><br>
With a full time job and a full time family size, there isn't much
time left from the day for individual activity, but if I do, then I
fly kites.
</p><p>
<b>3. What are your thoughts on Linux and open-source ?</b>
<br><br>
Extremely positive. I love having the option between many web browsers,
translation tools. Heck I get to modify the source and have the browser
function my way! The pace new enhancement and additions to the software
is fascinating. Simply superb.
</p><p>
<b>4. What got you interested in Linux and open-source ?</b>
<br><br>
Availability of free software and the robustness of the operating
system. In the Early 90's, choices were limited. Either far-from-stable
Windows for an OS or expensive commercial Unix with no software
to run on. Linux was/is a brilliant concept.
</p><p>
<b>5. What are Linux/open-source's major advantages, as far as you are
      concerned ?</b>
<br><br>
The fact everything in the open source community is open source gives
thousands of developers the chance to chip in, enhance, and fix anomalies.
The end result is rock solid products. Having one entity like a commercial
company looking after the affair of a piece of software won't be as good
as the open source initiative. Find a bug in IRIX or HP-UX and you would
have to wait for Silicon Graphics or HP for a fix. You don't like the fix
Mr. Torvalds introduced to the latest Linux kernel then trash his code and
write your own.
</p><p>
<b>6. What irks/displeases you about the open-source movement ?</b>
<br><br>
It is not user friendly so it won't take off on the desktop as much as
I like it to be. Is it feasible to be user friendly? yes. Look at Apple
and their Mac OS X. I look for the day where one doesn't have to
know what is /dev or /proc.
</p><p>
<b>7. How do you see Arabic fitting into the open-source movement ?</b>
<br><br>
Turtle slow and disappointing. It doesn't make sense to see the amount
of people who speak Arabic and number of Arabised software or
even recognition to the Arabic language on web sites or end user clients.
Arabeyes effort is a small example. Each project on Arabeyes has 1-3
registered participants with 1 or 2 active users and the rest are dormant!
How many people on Arabeyes mailing list vs. active users? I was so
embarrassed when I posted a message asking for participants for the
Wordlist project and my requirement was to have someone translate
ONE WORD PER DAY and I didn't manage to recruit a single person!
</p><p>
<b>8. How have you been involved in Linux/open-source ?</b>
<br><br>
Back in the year 2000, I released my first open source piece of
software when I was in the ISP business. It was an LDAP authentication
module to be plugged onto the RADIUS authentication server. Later
I added MySQL accounting. It was very nice to have received e-mails
from various people in the world regarding how to apply/compile
the software. In 2003, I read Nadim's [Shailki] frustration for lack
of participants with the Arabeyes initiative and decided to make a
difference. I took up Wordlist project when it had 67,000 words and
I translated something close to 19,000 words in three months! I made
a point in mentioning numbers and the purpose was not to brag, it is
rather to make you feel some responsibility and go out there and do
something. I managed to output so much with a full time job, a wife,
4 kids (eldest in high school)....this is what I have to say for those
who can't translate ONE WORD PER DAY because they don't have the time!
</p><p>
<b>9. How will you become more involved in Linux/open-source ?</b>
<br><br>
Since I can read/write English & Arabic, I am best suited for the
translation business. At this age and amount of responsibilities, I
can't code. I can steal 30 minuets a day and translate few words
but can't see a tangible output ( from my point of view ) and write
meaningful code in 30 minuets. I'll just focus on the translation business.
</p><p>
<b>10. What would you say your major contributions to Arabic Linux/open-source
       have been ?</b>
<br><br>
For starters, I wouldn't call them major, but I would describe what I
did in the following: I am honored and privileged to have contributed to
the Wordlist project and was given a chance to have translated few words
which your son or mine could look up.
</p><p>
<b>11. How do you see Linux/open-source fitting into the Arab community ?</b>
<br><br>
I see a perfect fit! most of the Arab world would think twice when it comes
to software licensing charges. With Linux instead of Windows & Koffice
instead of MS Office the Arab world could save a huge amount of money.
Why its not taking place? I guess you and I are to be blamed. We are not
preaching open source enough.
</p><p>
<b>12. What is the ideal path for development and progress in your opinion
       ?</b>
<br><br>
Since we wouldn't have another Al Gore looking after our Arabic affairs, I
guess we'd have to do it ourselves. I wouldn't waste time by knocking the
doors of ANY Arabic government for that matter either. A good start would
be to host all/most Arabic projects in one web site instead of a bunch of
scattered web sites. If there were 10 people working on Wordlist instead
of 1 or 2, then maybe I can slip few articles to
<a href="http://ar.wikipedia.org">Wiki</a>, commit few PO files for KDE,
and so on.
</p><p>
<b>13. What areas, in your opinion, need the most work ?</b>
<br><br>
Coordination among people who are SERIOUS about seeing Arabic
take place in the open source business. There has to be a sizable
number of them out there. They just need to be together.
</p><p>
<b>14. What would you like to see happen sooner rather than later ?</b>
<br><br>
To have my kids use Debian instead of Window on their PC but something
tells me I will regret it if I do it now due to amount of Q&A; the beast
(Linux) is still not suited for the desktop.
</p><p>
<b>15. What gets you moving and wanting to contribute ?</b>
<br><br>
Making the number one language in the world understood by Arabs
is the prime motivation, I guess. I won't rule out the joy I get when
my kids brag about their father and they have the proof to back it
up. Lastly, teaching my kids that life is not take, take, take all the
time; give from now and then is joyful too.
</p><p>
<b>16. What Arabic Linux accomplishments have really excited you ?</b>
<br><br>
Writing/reading Arabic under KDE & KACST fonts. I want to kiss the
hands that made the former possible. I NEVER thought I would be
able to view Arabic web site under konqueror.
</p><p>
<b>17. What are some of your favorite links/channels ?</b>
<br><br>
I must see what does David have to offer <u>every</u> day
I am obsessed with <a href="http://www.gombergkites.com/">kites</a>.
Second link would be the
<a href="http://www.arabeyes.org/misc/wordlist_status_bar.html">Wordlist
status page</a> to see how far I am. Lastly would be the dictd log
to amend new words for Wordlist. The above three are a must every day.
</p><p>
<b>18. What would you tell others to get them involved in the
       Linux/open-source movement ?</b>
<br><br>
At least for Arabs, they should give some time and do a translation
effort to give those who can't speak English a chance to enjoy the
wealth of open source that has an English interface.
</p><p>
<b>19. How would you go about expanding Arabic Linux ?</b>
<br><br>
It is tough at the moment since the desktop is not ready. However, I would
be pleased if the use of Linux at the back end is used, I would worry about
the desktop later.
</p><p>
<b>20. Why are you of the opinion that Linux on the desktop is NOT ready ?
       What is needed for it to be ready (again, from an Arabic point of
       view) ?</b>
<br><br>
Linux is not ready for the desktop because it was written by a techie and
to be used by another techie; general population are not techies. Insert
a Linux CD then boot and go through the installation. "Swap", "file system",
"ext3", etc. are some of the words you need to think about when my father
or your father encounter them during his installation. To make things worse,
think of the above when the fathers involved don't understand English.
</p><p>
<b>21. Where do you see Arabic Linux in five years ?</b>
<br><br>
It could be really some where if we focus on marketing as much
as we focus on development. I think we are very weak in the
marketing department.
</p><p>
<b>22. What would you suggest could be done to improve on the
       marketing of Open Source in the Arab world ?  Any tangible
       suggestions/steps ?</b>
<br><br>
We need to make ourselves known. Our work must see the light and people
have to know where to go and get it. Is there a marketing person looking
after the projects Arabeyes working on? I remember marketing Wordlist
and we managed to put it on a good number of sites, I think we should have
marketed QaMoose instead; Joe-average can use QaMoose but Wordlist
alone won't do him any good. Our work is good work as is, but can make an
excellent product when packaged with something else. The same goes for
"duali", packaged with a full fledged Arabic word processor would make
a difference from stand alone "duali".
</p><p>
<b>23. Where do you see yourself in five years ?</b>
<br><br>
Knowing how I conduct my life, nothing special. But something tells me
I will collect tons of kites.
</p><p>
<b>24. Do you have any advice for the Arabic-speaking world regarding
       Linux and open-source ?</b>
<br><br>
Oh yes, if you don't get your act together and dirty you hands and wait
for someone else to do the Arabisation, your wait will be very long. The
issue here is Arabic and it HAS to be done by Arabs. I don't expect
native speaking German or Chinese will give Arabisation the time of the day.
</p>
