<!--
 $Id$

 - Translated by, Sulaiman Ahmad Al-Rasheedan
 -->
<p align="left"><font color="#ff0000"><i>Translated</i></font></p>
<div dir="rtl" align="right">
<b>بيانات أساسية ...</b>
<br>
<table border="0" cellpadding="0" cellspacing="6">
<tr>
  <td>&nbsp;</td>
  <td>الإسم الكامل</td>
  <td>&nbsp;</td>
  <td colspan="3">أحمد سليمان الرشيدان</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>العمر</td>
  <td>&nbsp;</td>
  <td colspan="3">41 عاما</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>الجنسية</td>
  <td>&nbsp;</td>
  <td colspan="3">الكويت</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>بلد الإقامة الحالية</td>
  <td>&nbsp;</td>
  <td colspan="3">الكويت</b>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>الوظيفة</td>
  <td>&nbsp;</td>
  <td colspan="3">مدير مشروع علوم و تقنيات</b>
</tr>
</table>
<p>
<b>1. هل هناك مشاريع مفتوحة المصدر تعمل معها؟ وما هي؟</b>
<br><br>
الموقع الوحيد الذي أنا مرتبط به هو "عيون العرب"
[<a href="http://www.arabeyes.org">عرب آيز</a>]. في السابق كنت
مرتبطاً بموقع xtradius.com عندما كنت راغباً بشدة بأعمال الـ ISP و كنت نشيطاً في
برمجة C . تلك الأيام كلها مضت :) لقد تعرّفت بموقع عيون العرب [عرب آيز] و
(<a href="http://www.arabeyes.org/project.php?proj=Wordlist">Wordlist</a>)
العام الماضي . رأيت أنها لم تنتهي فأنهيتها بنفسي . و أنا الآن أتمتع
بصيانة الكلمات المحفوظة والإضافات
<br>
</p><p>
<b>2. 2. ما هو الشي الذي لا يعلمه الناس عنك ؟ ( الهواية ، الشيء المكروه ، قدراتك ، إلخ ؟ )</b>
<br><br>
مع وقت طويل أمضيه بالعمل و وقت طويل أمضيه مع العائلة ، لا يتبقى هناك وقت لأنشطة إضافية مثلاً ، و لكن إن كان هناك وقت ، فأقضيه في ممارسة رياضة الطائرات الورقية .
</p><p>
<b>3. ما هي آراؤك بـلاينكس و المصدر المفتوح ؟</b>
<br><br>
إيجابيّة تماماً. احب فكرة الإختيار بين مجموعة من المتصفّحات او من أدوات الترجمة المتاحة. بل بالإمكان تغيير المصدر لأي من المتصفّحات ليتناسب مع ما أرغب. سرعة إجراء التحسينات على البرامج مفتوحة المصدر ببساطة رائعة.
</p><p>
<b>4. ما الشيء الذي جعلك تنجذب إلى لاينكس و المصدر المفتوح ؟</b>
<br><br>
وجود البرامج الحرة و قوة النظام التعاوني . في بداية التسعينيات ، كانت الخيارات محدودة . إما نظام تشغيل ويندوز غير المتزن أو نظام تشغيل يونكس التجاري باهظ التكاليف بلا برامج للعمل عليه . لاينكس كان و مازال فكرة رائعة .
</p><p>
<b>5. ما هي أعظم فوائد لاينكس و المصدر المفتوح برأيك ؟</b>
<br><br>
كل شي بالمجال المفتوح مفتوح المجال و يعطي الآلاف الفرصة للتعديل و المشاركة ، و النتيجة تكون قوية . على سبيل المثال ، كيان واحد كشركة تجارية تهتم ببرنامج لن تكون كالمجال المفتوح بالجودة . اعثر على خلل في IRIX أو HP-UX فإن عليك أن تنتظر SGI أو HP ليصلح الأمر . أمّا في المصدر الفتوح، فبإمكانك إلغاء التعديلات التي يضيفها Linus للنواة إن كانت التعديلات لا تعجبك
</p><p>
<b>6. ما هو الذي لا يرضيك بالمصدر المفتوح و حركته ؟</b>
<br><br>
إنه ليس سهل الإستخدام لذا لن يستخدم على سطح المكتب بقدر ما أحبه أن يكون . أنظر إلى آبل و OSX، مستخدم هذا النظام ليس مضطرّاً لمعرفة /dev أو /proc كما هو الحال مع لينكس. 
</p><p>
<b>7. أين تقع اللغة العربية في المصادر المفتوحة؟</b>
<br><br>
بطيئة جدا ومخيبة للآمال. الكم الهائل من المتحدثين باللغة العربية لا يتناسب مع حجم الإصدارات العربية او عملية التعريب. خذ
على سبيل المثال "عيون العرب" [عرب آيز]، المشاريع المدرجة لها 1-3 من المساهمين المسجلين وفي الواقع تجد 1-2 هم المساهمين النشطين والباقي يقف موقف المتفرج. ما هي النسبة بين المشاركين في الموقع كأعضاء والنشطين في تقديم الخدمات؟ لقد كان من المحرج جداً ان أقوم بإرسال رسالة عامة أطلب فيها متطوعين وكان المطلوب من المتطوعين ان يقوموا بإضافة ترجمة لكلمة واحدة في اليوم! ومع ذلك، لم أوفّق بالحصول على متطوعين.
</p><p>
<b>8. كيف إنضممت الى لينكس والمصدر المفتوح؟</b>
<br><br>
في العام 2000، قمت بإصدار اول مصدر مفتوح. كان عبارة عن توثيق من اسم المستخدم وكلمة السّر على نظام RADIUS. وبالتالي، قمت بإضافة نظام
محاسبي للمصدر المذكور وتوثيق على نظام MySQL. كان ممتع جداً استقبال الرسائل من شتى بقاع العالم تسأل عن كيفية استخدام الإصدار. في
العام 2003، عرفت عن الإحباط الذي يمر به زميلنا نديم الشيخلي من قلّة عدد المتطوعين في برامج التعريب. منذ ذلك الوقت، اخذت على عاتقي
انهاء مشروع Wordlist والذي انجز منه نديم 67000 كلمة وقمت بترجمة قرابة 19000 كلمة في غضون 3 أشهر. لقد تعمّدت ذكر الأرقام هنا وليس
القصد هو المباهاة وانما لأجعل البعض منا ان يتحمل بعض من المسؤولية والقيام بالمساعدة. لقد تمكنت بفضل الله من هذا العمل ولي وظيفة
مرتبط بها، زوجة، واربعة اولاد أكبرهم في الثانوية العامّة...هذا هو ردّي للذي لايستطيع ان يتطوع ويترجم كلمة واحدة في اليوم!
</p><p>
<b>9. كيف يمكنك المشاركة بشكل أكبر في لينكس والمصادر المفتوحة؟</b>
<br><br>
بما إنني استطيع القراءة والكتابة بالعربية، فإنّي ارى أن استمر في عمل التّرجمة. في هذا السن ومقدار المسؤوليّات، لا أظن ان بالإمكان من القيام بأعمال البرمجة المثمرة. بالإمكان اختلاس نصف ساعة في اليوم وترجمة قدر بسيط من الكلمات ولكن لا أعتقد ان أقدر علي القيام بإنتاج برمجة مثمرة في نفس الوقت المتاح.
</p><p>
<b>10. ماهي أكبر اسهاماتك للتعريب والمصادر المفتوحة؟</b>
<br><br>
في البداية، هي ليست بالإسهامات الكبيرة. بإمكاني إيجاز ما عملت في التّالي: لقد تشرفت بأن أُتيحت لي الفرصة بالإسهام في مشروع Wordlist وترجمة بعض الكلمات ليتسنّى لولدي او ولدك في ان يستشهد بها كمصدر من مصادر الترجمة.
</p><p>
<b>11. أين موقع لينكس من الإعراب في عالمنا العربي؟</b>
<br><br>
لينكس في المكان المناسب في العالم العربي حيث أن تكاليف شراء البرامج التجارية يثقل كاهل معظم البلدان العربية. من الممكن الإستعانة بـ لينكس بدل "ويندز" و Koffice بدل MS Office. بهذا تقوم البلدان العربية بتوفير مبالغ طائلة. لماذا لم يحصل هذا حتى الآن؟ أعتقد أننا كلنا لم نقم بعمل جيد في قضية التثقيف في هذا الجانب.
</p><p>
<b>12. ما هو الطريق الأمثل للتطور في رأيك؟</b>
<br><br>
بما أننا نفتقر لـ Al Gore آخر يعنى بشؤون التعريب، فيجب أن نيقن ان لن 
يحمل الراية غيرنا. وفي هذا السّياق، يجب ان لا نضيع الوقت في التعويل على أي من
الحكومات العربية للدعم. في البداية، أعتقد ان تجتمل كل او السواد الأعظم من
المشاريع في مكان واحد بدل وضعها الحالي متفرقة. بهذا، فرصة تواجد اكبر عدد من
المتطوعين تكون أكبر. فلو كان هناك على سبيل المثال 10 متطوعين يعملون في
مشروع Wordlist، فستتاح لي الفرصة أن اسهم في
مشاريع <a href="http://ar.wikipedia.org">اخرى</a> وتكون المخرجات اسرع ومتنوعة.
</p><p>
<b>13. اين يجب ان يكون التركيز برأيك؟</b>
<br><br>
التنسيق بين الأشخاص الجادين في رؤية مستقبل أفضل لقضية التعريب. انا متأكد من وجود لابأس به من المهتمين في هذه القضية فمن الضروري تجميعهم.
</p><p>
<b>14. مالذي تود ان تراه يحصل الآن عوضاً عن في المستقبل؟</b>
<br><br>
بودّي ان يستخدم اولادي لينكس بدلاً من "ويندوز" ولكن لدي شعور يراودني أني سأندم على هذا الفعل ان قمت به لكمية الأسئلة التي ستوجّه لي. لينكس غير ناضج بشكل تام ليستخدم من قبل كل النّاس.
</p><p>
<b>15. مالذي يحفّزك على العطاء؟</b>
<br><br>
أن تكون اللغة الأولى في العالم (الإنجليزية) مفهومة من قبل العرب. لا أخفي مقدار سعادتي عندما يتباهى أولادي بوالدهم والعمل الذي يقوم به. ختاماً، هي لتعليم أولادي ان الحياة لبس كلّها "أعطني" "أعطني" "أعطني"، قليلاً من العطاء هو مجلبة للسعادة في نفس الوقت.
</p><p>
<b>16. ما هي أفضل انجازات لينكس؟</b>
<br><br>
القراءة والكتابة بالعربية في لينكس و بنوط KACST. أود ان اقبّل اليدين اللتين جعلت القراءة والكتابة في لينكس ممكنة. لم يكن يخطر على بالي أن اتمكّن من قراءة النّصوص العربية باستخدام متصفّح "كونكورور".
</p><p>
<b>17. ما هي أقضل الوصلات اليك؟</b>
<br><br>
كل يوم، اتصفح موقع "ديفيد" بحثاً عن شيء جديد لولعي في <a href="http://www.gombergkites.com/">الطائرات الورقية</a>.
الموقع الآخر يكون لكي أعرف كم <a href="http://www.arabeyes.org/misc/wordlist_status_bar.html">تبقّى</a> لي من ترجمات
يجب علي القيام بها. وآخر الوصلات هي سجل "قاموس" للتعرف على الكلمات الجديدة والقيام على إضافتها.
</p><p>
<b>18. ماذا تقول للآخرين كي يسهمو في المصادر المفتوحة؟</b>
<br><br>
على الأقل بالنسبة للعرب، عليهم ان يعطوا قليلاً من وقتهم في عمل الترجمة كي يتسنى للذي لايستطيع فهم الإنجليزية ان يتعامل مع البرامج ذات الطّابع الإنجليزي.
</p><p>
<b>19. كيف يمكن لـ لينكس ان ينتشر؟</b>
<br><br>
في الوقت الحالي، من الصعب انتشار لينكس لصعوبة استعماله، ولكني لا ارى ضرر من استعمال لينكس كـ "سيرفر" .
</p><p>
<b>20. لماذا تعتقد بعدم جاهزية لينكس ليستخدم في الحياة اليومية وما الذي يجب عمله في جانب اللغة العربية؟</b>
<br><br>
لينكس كُتب من قبل رجل فنّي لكي يستعملة رجل فنّي اخر. السواد الأعظم من مستخدمي الكمبيوتر لا يتّصفون
بالصفة الفنية. ببساطة، أدخل قرص لينكس في الكمبيوتر وقم بتحميل القرص. ماذا ترى؟ ترى أسماء ومصطلحات
ما أنزل الله بها من سلطان فعلى سبيل المثال "ext3" ، "Swap" ، "file system" هي بعض المصطلحات 
التي ترد. هل بمقدور أبي او أبوك من فهم هذه المصطلحات؟ ولنزيد الطين بلّة، ماذا لو أن هؤلاء الاباء لا يفهمون اللغة الإنجليزية؟ 
</p><p>
<b>21. أين ترى لينكس العربي بعد 5 سنوات؟</b>
<br><br>
من الممكن جداً لـ لينكس العربي ان يتبوأ مكاناً جيداً اذا اهتممنا بتسويقه مثلما نهتم بتطويره. نحن نفتقر كثيراً لعملية التسويق.
</p><p>
<b>22. مالذي تقترحه ومن الممكن عمله في تسويق المصادر المفتوحة بشكل أفضل في العالم العربي؟ هل من إقتراحات ملموسة؟ خطوات؟</b>
<br><br>
يجب ان يعرفنا الناس ويعرفوا أعمالنا ومن أين يحصلوا على أعمالنا. هل من شخص متخصص في التسويق
لدى عيون العرب [عرب آيز] يُعنى بتسويق أعمالها؟ أذكر أني حاولت تسويق Wordlist ونجحت في وضع العمل في
بعض المواقع، أعتقد كان من الأجدى أن نسوّق "القاموس" عوضاً عن Wordlist. من الممكن للشخص البسيط
أن يستفيد من القاموس ولكن لاأظن ان نفس الشخص يمكنه ان يستفيد من Wordlist على هيئتها. أمالنا جيدة،
ولكنها ممتازة عندما تضاف الى منتج اخر. نفس الكلام ينطبق على "دولي"، حمّله مع كاتب نصوص بالعربية
فتحصل على منتج أفضل.
</p><p>
<b>23. اين ترى نفسك بعد 5 سنوات؟</b>
<br><br>
بالنظر الى حياتي اليومية، لا أعتقد اني ساكون في مكاناً مميزاً، ولكن لدي إحساس ان كمية الطائرات الورقية التي سأقتنيها كثيرة جداً.
</p><p>
<b>24. هل لديك نصيحة للعالم العربي تجاه لينكس والمصادر المفتوحة؟</b>
<br><br>
بالطّبع. ان لم نقم نحن العرب بالتطوير وننتظر اشخاص من غير العرب للقيام بهذه المهمة فسيطول انتظارنا. القضية تتعلق باللغة العربية ولا اتوقع من الألماني او الصيني ان يكترث اذا لم يتطور التعريب.
</p> 
</div>
<p align="left">
  <font color="#ff0000">
    <i>Translation courtesy of - Sulaiman Ahmad Al-Rasheedan</i></font>
</p>
