<!--
 $Id$

 - Conducted by Nadim Shaikli (Jun 6, 2004)
 -->
<p align="right"><font color="#ff0000"><i>Original</i></font></p>
<b>The Basics ...</b>
<br>
<table border="0" cellpadding="0" cellspacing="6">
<tr>
  <td>&nbsp;</td>
  <td>Full Name</td>
  <td>&nbsp;</td>
  <td colspan="3">Ossama Mohammad Khayat</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Age</td>
  <td>&nbsp;</td>
  <td colspan="3">29</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Country of origin</td>
  <td>&nbsp;</td>
  <td colspan="3">Lebanon</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Residing in</td>
  <td>&nbsp;</td>
  <td colspan="3">Kuwait</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Occupation/Studying</td>
  <td>&nbsp;</td>
  <td colspan="3">IT Trainer</td>
</tr>
</table>
<p>
<b>
1. Is there a project or site that you are affiliated with ? If so, how ?
</b>
<br><br>
I'm currently an active member of <a href="http://www.arabeyes.org/">
Arabeyes.org</a> involved in many of its projects. I also dabble in various
translation work for other Open Source programs and applications (outside
of Arabeyes' realm) that I find useful/beneficial to me and others. I was
initially introduced to Arabeyes through an article on
<a href="http://www.linux4arab.com/">Linux4Arab's</a> news website which was
referred to me by a friend at work. At that time, with about a year into my
usage of Linux, I was still not aware of the Arabization work taking shape.
Upon my introduction to Arabeyes I was so glad to be introduced to them that
I dove in and started following up with any updates and/or news about that
group and their work but I continued to think that I couldn't be able to help
as I thought I needed to be a programmer (ie. needed to know the likes of
C/C++ and others). I truly joined Arabeyes after almost a month of tracking
their work when I realized that I could easily help by translating simple
text files (*.po) and providing audio files for the Holy Qur'an project.
</p><p>
<b>
2. What is one thing that most people don't know about you
   (hobby, pet-peeve, abilities, etc) ?
</b>
<br><br>
I love sitting and chatting with older people. Ever since I was about 16 or
so I noticed that I loved to listen to their life experiences and stories
(as it gave me good guidance and ideas). My best friend is a 70 year-old
man :-)
</p><p>
<b>
3. What are your thoughts on Linux and open-source ?
</b>
<br><br>
They are an amazing combination.  I love them and I even got influenced by
them ;-) really. First, I thought Open Source relates only to linux, but found
it helpful for other OSs as well. Then I thought it's anything but Window$,
but many many applications/projects are there for Microsoft's Windows (M$)
OSs in <a href="http://sf.net/softwaremap/trove_list.php?form_cat=216">
SourceForge.net</a> among others (all following the same Open Source model).
It's really amazing how generous this model and it's followers/contributors
are. Linux was/is the answer to all wishful thoughts in which we could get
rid of Window$ and M$ stuff.
</p><p>
<b>
4. What got you interested in Linux and open-source ?
</b>
<br><br>
Full control. Being able to have a truly Open Sourced application results
in being able to fully customize it (given the need/abilities are there). If
you find a bug you can report it and expect (on average) to have it fixed
within a month. If you need a feature, you can always add it yourself (with
some hardship if you are not a programmer like me) or lobby for its inclusion
based on the feature's benefits/needs. Above all, no matter what your
education, programming-level or way of thinking you can always help in
some manner !!
</p><p>
<b>
5. What are Linux/open-source's major advantages, as far as you are
   concerned ?
</b>
<br><br>
There's nothing to hide. No back-doors, hidden secrets, selfishness, control
greed, patents... etc. It's all about sharing, participating, making a
difference and giving back. The freedom and openness of these traits resulted
in having massive amounts of participants from varying backgrounds, levels
and nationalities. These people and these thoughts turned to be a perfect
source for the advancement of Linux and Open Source in general.  The unity
aspects of Linux and Open Source just seem extraordinary to me.
</p><p>
<b>
6. What irks/displeases you about the open-source movement ?
</b>
<br><br>
From a relatively non-knowledgeable user perspective, it's difficult to do
things easily. Especially for those who are used to M$'s click-click approach.
An average user would need quite some time to get started and accustomed to
what needs to be done. There is quite a large number of very useful
applications, for example, yet still most of them are only available
through console [ie. they are non-graphical (GUI) in nature]. Another major
thing that bothers me is the apparent replication of work. What I mean here
is likes of yum, apt, and up2date for example. The aim is the same, "managing
and updating software" easily, but why the multiple means to do them. I
believe it's always better to join forces to bring about one great result
rather than forking/creating new projects resulting in many subpar,
non-perfect ok projects. Software update is merely _one_ example, there
are other areas where I see lots of needless replication.
</p><p>
<b>
7. How do you see Arabic fitting into the open-source movement ?
</b>
<br><br>
To me it's a great opportunity to have it fit since I'm in need of it :-).
I've grown accustomed to just grabbing the source for whatever I see of benefit
and Arabizating it (its a process I truly love). Open source, as mentioned
previously, would be of great benefit to Arab world.
</p><p>
<b>
8. How have you been involved in Linux/open-source?
</b>
<br><br>
It all started with my interest to find Microsoft Windows (M$) alternatives
back in 1999. My elder brother, Radwan, liked trying out different Operating
Systems (OSs) he'd come across. One of those on a faithful day was Linux.
The first distro I tried was SuSe 7 which came free with LinuxFormat
magazine my brother had bought. To be honest, the installation was
_really_ a piece of cake except for the partitioning bit. I suffered a little
with that, but it went fine. The thing that truly shocked me (in a good way)
was the fact that I didn't have to reboot - not even a single time and the
system (PII-350/128MB/20GB) was booted into X without an hitch time and again.
All hardware (except internal modem) was detected very nicely and I could
use XMMS to play some MP3s along with some games. It was really a great
moment for me and my quest. A year and a half into this experience (starting
in 2001) I started preparing for my CIW Server Administrator exam, which
included lessons about Linux, though in a brief and quick manner. As I was
already a bit familiar with SuSe, I downloaded RedHat 7 (or 7.1 not sure)
and started practicing on that (as required for the exam and course) and
was hooked on RedHat and it's distributions ever since :-)
</p><p>
<b>
9. How will you become more involved in Linux/open-source ?
</b>
<br><br>
I've always been involved in open-source since my introduction to it
(your usage of the future tense threw me off :-). Basically, I tell
people about open-source and it's benefits. Its funny to see them freak
out when they realize its FREE and ask "how could this work? you work
for nothing!". I also try to publicize Open Source Software (OSS) and its
benefits to my students (I'm a teacher after all).
</p><p>
<b>
10. What would you say your major contributions to Arabic
    Linux/open-source have been ?
</b>
<br><br>
I think it's mostly in the translation arena. Other than the projects
I've been involved with via Arabeyes, I've done other work for various
miscellaneous applications (phpmyadmin, tsclient, synaptic... etc),
assisted in distrowatch.com's website and simply try to be my usual
self and help in anything I see of benefit to the Arab/Muslim community
(given I'm able to deliver).
</p><p>
<b>
11. How do you see Linux/open-source fitting into the Arab community?
</b>
<br><br>
With the advancements we see today, it's really very suitable and ready. I
remember the first time I used Linux it almost lacked everything you need to
read, write and deal with Arabic. Nowadays, I see more and more applications
becoming Arabic aware/supportive though Unicode/UTF-8. One could even say that
their support is better than Microzeft's ;) not only as a translated
interface (our work is more natural and intuitive), but also in its native
functional Arabic support.
</p><p>
<b>
12. What is the ideal path for development and progress in your opinion?
</b>
<br><br>
Dedication, hard-work and sacrifice. Let's put it this way - we always hear
people saying "I'm busy", "really can't help much!", "there are more important
things"... etc. My reply to those remarks is "NONSENSE - make the time".
</p><p>
<b>
13. What areas, in your opinion, need the most work?
</b>
<br><br>
Ease of use and integration. Like I mentioned before, there are plenty of
really powerful tools/software, yet you have to suffer by reading long
(and most times not of much benefit) manpages.  There is also a big gap
in integration between applications, be it office, internet, utility or
server applications. Maybe because they are developed by different authors,
but still there has to be a way to better integrate them.
</p><p>
<b>
14. What would you like to see happen sooner rather than later?
</b>
<br><br>
Easier Linux. In all ways, not just when it comes to installation,
configuration, administration. Arabic _might_ be one of the things
that will get more Arabs involved in using and grasping Linux, yet
still these areas and the previously mentioned points would make
Linux really unbeatable (you want to retain these new converts after
all).
</p><p>
<b>
15. What gets you moving and wanting to contribute?
</b>
<br><br>
First of, I'm after the big award from Allah I'm going to get at the end.
Imagine how great it would be if/when someone would say, "oh, this was
done by Ossama, may Allah bless/have-mercy upon him". Second, is our need
to give back a little to this great community from which I've actually
learned to be more gracious (volunteering is a GREAT noble cause). I'm
also humbled by various people who in many ways appreciate and keep
encouraging me by simple words and/or deeds - so many nice things have
happened which keep me coming back for more :-). So, at the end, when I
pass away, I don't want to be "just someone who lived and died", do you ?
</p><p>
<b>
16. What Arabic Linux accomplishments have really excited you?
</b>
<br><br>
HaydarLinux, which was the first Arabic distro I used really excited
me. The Vim patch, a really helpful addition, specially for console also
ignited things. The fully Arabized GNOME and most recently, the Arabic
PuTTY patch (which was just accepted :-) really move me.
</p><p>
<b>
17. What are some of your favorite links/channels?
</b>
<br><br>
First of, <a href="http://www.linux4arab.com">Linux4Arab</a> through
which I got to know about Open Source and what-not. I used to read <a
href="http://www.linuxtoday.com/">LinuxToday</a> alot and always quickly
review <a href="http://www.distrowatch.com/">Distrowatch</a> updates. I also
keep an eye on <a href="http://www.osnews.com/">OS News</a>.
I don't watch the TV much, but during various crises my favorite outlet
is AlJazeera.
</p><p>
<b>
18. What would you tell others to get them involved in the
    Linux/open-source movement ?
</b>
<br><br>
Contribute as much as you can. At the end, it will Inshalla come back to
benefit you first and foremost. Even the little things make a big difference
in the long run. We always have time to waste watching useless TV shows,
chatting and chattering about useless things, surfing the net with no
apparent goal/aim, etc. If you calculate all that wasted time, I'm
sure you will find _at least_ 2 hours a day that you can easily spare
and assist in various fields/things like translation (words or phrases),
testing, providing feedback, bug reporting, voting for bugs, etc, etc.
I mentioned these tasks because they are very simple, yet very effective
and really make a quick difference. Case in point, I'm married with one
child to take care of, I work as a teacher mostly teaching 6+ hours a day
while continuously preparing for my upcoming classes that I need to deliver
yet I find/make the time. I also have some other work I do and still I can
find at least one hour to read emails and help a little with the various
different projects. I remember when I kept nagging RedHat about including
Arabic fonts and Arabic KDE interface - every time I did, it was just a few
minutes while having a cup of tea !
</p><p>
<b>
19. How would you go about expanding Arabic Linux in general?
</b>
<br><br>
Make people aware of it; help them use it; get them involved in it.
</p><p>
<b>
20. Where do you see Arabic Linux in five years?
</b>
<br><br>
I pray everyday that our community wakes up and sees the benefits and
needs of such a system. If this happens, it will be for sure the
_only_ OS used in different places around the Arabic community. 
</p><p>
<b>
21. Where do you see yourself in five years?
</b>
<br><br>
Away from any M$ related stuff :-) I want to be "Free as in Freedom".
I want to learn more and more about Linux/open-source and help make
this entire dream/wish a reality.  Our dependence on Microsoft needs
to end sooner rather than later.
</p><p>
<b>
22. Do you have any advice for the Arabic-speaking world regarding
    Linux and open-source?
</b>
<br><br>
Forget about M$. I've been for years involved in the "M$ DarkZone" and
know first-hand about it's problems, fake promises and high-talk. You
won't die or get sick if you don't play a game or use software that
_only_ works on Windogz. There is always an alternative and if it's not
there you/I/we need to make it happen.
</p>
