<!--
 $Id$

 - Supplied by interviewee, Ossama Khayat
 -->
<p align="left"><font color="#ff0000"><i>Translated</i></font></p>
<div dir="rtl" align="right">
<b>بيانات أساسية ...</b>
<br>
<table border="0" cellpadding="0" cellspacing="6">
<tr>
  <td>&nbsp;</td>
  <td>الإسم الكامل</td>
  <td>&nbsp;</td>
  <td colspan="3">أسامة محمد سعيد خياط</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>العمر</td>
  <td>&nbsp;</td>
  <td colspan="3">29 عاما</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>الجنسية</td>
  <td>&nbsp;</td>
  <td colspan="3">لبنان</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>بلد الإقامة الحالية</td>
  <td>&nbsp;</td>
  <td colspan="3">الكويت</b>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>الوظيفة</td>
  <td>&nbsp;</td>
  <td colspan="3">مدرب كمبيوتر</b>
</tr>
</table>
<p>
<b>
1. هل هناك مشاريع مفتوحة المصدر تعمل معها؟ وما هي؟ 
</b>
<br><br>
أنا حاليّاً عضو نشط في مجموعة <a href="http://www.arabeyes.org/">عربايز</a>  ومرتبط بالعديد من مشاريع الترجمة لبرامج وتطبيقات المصدر المفتوح (خارج نطاق عربايز) التي أجدها مفيدة لي أو للآخرين. في البداية، قام أحد الزملاء في العمل بتعريفي على موقع الأخبار  
<a href="http://www.linux4arab.com/">لينكس العرب</a> والذي قرأت من خلاله بعض المقالات عن عربايز. في البداية، وحيث كانت قد مضت فترة سنة تقريباً على بدء استخدامي لنظام لينكس، لم أكن على علم بأي عمل تعريب كان قد تكوّن. وعند علمي بعربايز كنت سعيداً لوجود جهد كهذا وبدأت أتابع أخبارهم وموقعهم وأي جديد عنهم، ولكني اعتقدت أني لن أكون قادراً على المساعدة حيث أنني لم أكن مبرمجاً محترفاً (أي ليس لدي خبرة كافية في لغات البرمجة مثل سي أو سي++ أو غيرها).
قمت بالانضمام فعلياً إلى عربايز بعد شهر من تتبّع أعمالهم عندما أدركت أنه يمكنني المساعدة بسهولة بترجمة ملفات نصّيّة بسيطة (*.po) وتقديم ملفّات صوتيّة لمشروع القرآن الكريم.
</p><p>
<b>
2. ما هي أكثر الأشياء التي يجهلها الناس عنك (هواية، عادة، قدرات، إلخ)؟
</b>
<br><br>
أحب الحديث مع ومجالسة ذوي الأعمار المتقدمة. منذ أن كنت في السادسة عشرة من عمري لاحظت أنني أحب الاستماع إلى خبراتهم وقصصهم في الحياة (حيث أنها تعطيني إرشاداً وأفكاراً صحيحين). كما أنّ أفضل أصدقائي هو رجل في السبعين من عمره :-)
</p><p>
<b>
3. ما هي آرائك حول لينكس والمصدر المفتوح؟
</b>
<br><br>
إنّها مزيج رائع. أحبها حتى أنني تاثرت بها. في البداية، اعتقدت أن المصدر المفتوح يتعلق بلينكس فقط، لكنني وجدت أنه يدعم أيضاً أنظمة التشغيل الأخرى. ثم اعتقدت أنّه أيّ شيء سوى ويندوز، لكن هناك الكثير الكثير من التطبيقات والمشاريع المتوفرة لهذا النظام في موقع <a href="http://sf.net/softwaremap/trove_list.php?form_cat=216">SourceForge.net</a> من بين الآخرين، حيث تتّبع كلها نظام المصدر المفتوح.)
إنه حقاً مدهش كم هو معطاء هذا النظام ومتّبعوه ومتطوّعوه. لينكس كان وسوف يكون الإجابة لكل الأفكار الحالمة التي نستطيع من خلالها التخلّص من ويندوز وكل ما يتعلق بميكروسوفت.
</p><p>
<b>
4. ما الذي جعلك مهتماً بالمصدر المفتوح ولينكس؟
</b>
<br><br>
التحكم الكلي. أن أحصل على تطبيق مفتوح المصدر حقاً ينتج عنه القدرة على التخصيص الكامل (إن وجدت الحاجة والقدرات). إن وجدت علّة برمجيّة فيمكنك إرسال تقرير بها وتوقّع الحصول على حلّها (بشكل عام) خلال شهر. إن احتجت إلى ميزة إضافيّة، يمكنك دائماً إضافتها بنفسك (مع بعض المشقّة إن لم تكن مبرمجاً) أو أن تُجمع على إضافتها بناءً على مدى
الحاجة إليها ونفعها. علاوة على ذلك، ليس مهماً ما هو مستوى تعليمك، أو خبرتك البرمجيّة أو طريقة تفكيرك، فيمكنك دائماً المساعدة بطريقة ما!!
</p><p>
<b>
5. ماهي مزايا لينكس والمصدر المفتوح عامّة، على حدّ علمك؟
</b>
<br><br>
ليس هناك شيء مخفي. لا أبواب خلفية، أسرار مخبئة، أنانية، جشع تحكّم، براءات اختراع ضارّة... إلخ. كل ما هنالك هو المشاركة، والتطوع، والتغيير والعطاء. حريّة وانفتاح هذه المصادر نتج عنه أعداد هائلة من المتطوعين ذوي خلفيات ومستويات وجنسيات مختلفة. هؤلاء الناس وهذه الأفكار تحولّت إلى مصدر كامل لتقدّم لينكس والمصدر المفتوح بشكل عام. أرى أن وحدة الهدف بين لينكس والمصدر المفتوح هي فائقة للروعة.
</p><p>
<b>
6. ما هو أكثر ما يزعجك حول المصدر المفتوح؟
</b>
<br><br>
من وجهة نظر المستخدم العادي، من الصعب القيام بالأعمال. خصوصاً لأولئك المعتادين على طريقة ويندوز. يحتاج المستخدم العادي فترة طويلة نسبياً كي يستطيع البدء ويعتاد على كيفية القيام بما يريد. هناك عدد هائل من البرامج المفيدة جداً والمتوفرة من خلال سطر الأوامر فقط. شيء آخر يزعجني كثيراً هو تكرار العمل. ما أعنيه هنا هو أمثال yum وapt وup2date على سبيل المثال. الهدف واحد، وهو "إدارة وتحديث البرامج والأنظمة" بسهولة، لكن لم هناك مزايا مشرذمة بين العديد البرامج وليس كلّ المزايا المطلوبة في برنامج واحد. أعتقد أنه من الأفضل دائماً توحيد الصّف والجهد للحصول على نتيجة أفضل، بدلاً من إنشاء مشاريع عديدة تفتقد إلى بعضها البعض. البرمجيات هي مثال بسيط فقط، وهناك أشياء أخرى يمكن للمستخدم أن يلاحظ تكرارها بلا فائدة.
</p><p>
<b>
7. كيف ترى ملائمة العربية في حركة المصدر المفتوح؟
</b>
<br><br>
بالنسبة لي من الرائع جداً أن تلائم مكان الحاجة إليها :-) لقد اعتدت أن أترجم ما أجده ذا منفعة (وذلك ما أحبه). فالمصدر المفتوح، كما ذكرت سابقاً، له فوائد كبيره للعالم العربي.
</p><p>
<b>
8. كيف انضممت إلى لينكس والمصدر المفتوح؟
</b>
<br><br>
بدأ كل ذلك منذ بدء اهتمامي العثور على بدائل ويندوز في سنة 1999. أحب أخي – رضوان – تجربة العديد من أنظمة التشغيل المختلفة. وكان أحد هذه التجارب لينكس. كانت التوزيعة الأولى التي جرّبتها هي سوسي لينكس 7 والتي حصلت عليها مع مجلة لينكس فورمات التي جلبها أخي. في الحقيقة، كان تثبيت التوزيعة غاية في السهولة عدا التّجزئة، حيث لم يكن لي أي خبرة في متطلبات لينكس. ما فاجئني حقاً هو أنّني لم أضطر إلى إعادة تشغيل النظام إطلاقاً ولا حتى مرة واحدة بعد انتهاء التثبيت وتمّ إقلاع النظام (بنتيوم2/128م.ب./20ج.ب.) مباشرة في الوضع الرسومي دون أي عائق. تمكّن نظام التشغيل من التعرّف على كلّ العتاد الموجود (عدا المودم الداخلي) واستطعت مباشرة الاستماع لبعض الموسيقى من خلال برنامجXMMS  ولعب بعض الألعاب كذلك. كان ذلك رائعاً جداً وأعطاني الأمل في وجود بديل جيّد محتمل. بعد سنة ونصف من هذه التجربة (في بداية سنة 2001) بدأت التحضير لامتحان مدير خادم CIW، والذي اشتمل على دروس خاصة بلينكس، ولكن بشكل بسيط وغير وافي. وحيث أنني قد اعتدت على استخدام سوسي لينكس، قمت بتنزيل توزيعة ردهات 7 (أو 7.1 إن لم تخني ذاكرتي) وبدأت التمرّن على تلك التوزيعة (كما هو مطلوب للامتحان بالطبع) ومنذ ذلك الحين وأنا أفضل استخدام ردهات وتوزيعاتها :-)
</p><p>
<b>
9. كيف يمكنك المشاركة بشكل أكبر في لينكس والمصادر المفتوحة؟
</b>
<br><br>
لقد كنت دائماً من المشاركين في المصدر المفتوح منذ تعرّفي عليه. مبدئياً، أقوم بإخبار الناس عن المصدر المفتوح وفوائده. من المضحك أن أجدهم يتعجبون كيف أنه مجاني (في معظمه) وحرّ بهذه الطريقة ويسألونني "كيف يمكن أن يكون هذا؟ أتعمل بلا مقابل!". كما أنني أحاول دائماً أن أنشر برامج المصدر المفتوح وأخبر عنها أصدقائي وطلابي (حي أنني معلّم في النهاية).
</p><p>
<b>
10. ماهي أكبر اسهاماتك للتعريب والمصادر المفتوحة؟
</b>
<br><br>
أعتقد أن معظمها محصور في مجال الترجمة. لقد قمت بالعمل على العديد من التطبيقات المختلفة غير تلك التي اشتركت بها مع عربايز مثل phpmyadmin، وtsclient، وsynaptic، وغيرها، كما أنني ساعدت في تعريب الواجهة الاساسية لموقع distrowatch.com ومارست طبيعتي في كوني أحب المساعدة في أي شيء أرى فيه الفائدة للمجتمع العربي والإسلامي حيث استطعت.
</p><p>
<b>
11. أين موقع لينكس من الإعراب في عالمنا العربي؟
</b>
<br><br>
مع التطورات التي نراها اليوم، أرى أنه ملائم جداً وجاهز للاستخدام العربي. أتذكر الوهلة الأولى التي استخدمت فيها لينكس وكان يفتقر تقريباً إلى كل شيء يتعلق بالعربية. أما الآن، فأنا أرى العديد العديد من التطبيقات تصبح ملائمة ومهتمة لإضافة اللغة العربية ودعمها في تطبيقاتها من خلال يونيكود وUTF-8. حتى أنّه يمكن لنا أن نقول أنّها ملائمة أكثر من ميكروزفت :-) ليس فقط من ناحية الواجهات المترجمة ولكن أيضاً من ناحية طريقة دعم اللغة واحتياجاتها.
</p><p>
<b>
12. ما هو الطريق الأمثل للتطور في رأيك؟
</b>
<br><br>
الإخلاص، والعمل الجاد، والتضحية. ما اعتدنا عليه كعذر دئماً هو "نحن مشغولون"، و"لا أستطيع المساعدة بشكل كبير!"، "وهناك ما هو أهم".. إلخ. وردي إلى هؤلاء هو "هذا هراء، يمكن دئماً توفير الوقت."
</p><p>
<b>
13. أين يجب أن يكون التركيز برأيك؟
</b>
<br><br>
سهولة الاستخدام والتكامل بين الأعمال. كما ذكرت، هنا العديد من البرامج والأدوات المفيدة، ولكن هناك الكثير المطلوب قراءته كي يتمكن أحدهم من الاستفادة من هذه البرامج وقد يذهب الوقت سدى بسبب ضعف التوثيق الموجود. هناك فعلاً فراغ كبير في عملية التكامل بين التطبيقات سواء الخدمية أو المكتبية منها. قد يرجع سبب ذلك إلى تعدد كاتبي هذه البرامج ولكن لا بد من وجود طريقة أفضل لحل هذه المعضلة.
</p><p>
<b>
14. مالذي تود أن تراه يكون عاجلاً وليس آجلاً؟
</b>
<br><br>
لينكس أسهل للاستخدام. كيفما كان، وليس فقط عند التثبيت، أو التهيئة، أو الإدارة. قد تكون العربية واحداً من الأشياء المهمة التي تجذب مستخدميها ومحبيها إلى هذا النظام، إلا أن هناك العديد من النقاط المهمة التي تجعل لينكس لا يقاوم، حيث أنه من المهم المحافظة على القادمين الجدد.
</p><p>
<b>
15. مالذي يحفّزك على العطاء؟
</b>
<br><br>
أولاً، أنا على أمل كبير في الحصول على الأجر الكبير من الله - عزّ وجلّ - في الآخرة. تخيّل كيف قد يكون رائعاً لو قال أحدهم:"آه، قام بعمل كذا أسامة... بارك الله فيه ورحمه." ثانياً، الحاجة إلى إعطاء القليل لهذا المجتمع الرائع الذي تعلمت منه الكثير كأن أكون معطاءً، حيث أن التطوّع هو هدف نبيل جداً. أشعر أيضاً بالخجل والتواضع الشديدين من الناس الذي يقدّرون أعمالي ويشجعونني بكلمات أو أفعال بسيطة، والذي جعلني أتوق إلى المزيد من العمل والتطوّع. في النهاية، عندما أنتقل إلى الملأ الأعلى، لا أريد أن أكون "مجرّد إنسان عاش ومات"، فهل تريد ذلك؟
</p><p>
<b>
16. ما هي أفضل إنجازات لينكس؟
</b>
<br><br>
حيدر لينكس، والتي كانت أول توزيعة لينكس عربية استخدمتها. رقعة المحرّر فيم، والتي هي إضافة رائعة، خاصة لمستخدمي الشاشة الطرفية وسطر الأوامر بكثرة. جينوم، المعرب بالكامل، وحديثاً رقعة PuTTY.
</p><p>
<b>
17. ما هي المواقع المفضلة لديك؟
</b>
<br><br>
أولاً، <a href="http://www.linux4arab.com">لينكس للعرب</a> through والذي تعرفت من خلاله على المصدر المفتوح وعربايز. اعتدت كذلك أن أقرأ أخبار <a
href="http://www.linuxtoday.com/">LinuxToday</a> يومياً واطلع بشكل مستمر على أي جديد من خلال موقع <a href="http://www.distrowatch.com/">دستروواتش</a>.  أقوم كذلك بمتابعة <a href="http://www.osnews.com/">OS News</a> من وقت لآخر. لا أشاهد التلفزيون كثيراً، ولكن عند حدوث كوارث فقناتي المفضلة لمتابعة الحدث هي الجزيرة.
</p><p>
<b>
18. ماذا تقول للآخرين كي يسهموا في المصدر المفتوح؟
</b>
<br><br>
تطوعوا بقدر ما تستطيعون. في النهاية، سوف يكون لذلك العائد الأكبر لكم إن شاء الله. حتى المساهمة البسيطة تشكّل تغييراً كبيراً مع الوقت. لدينا دائماً الوقت الكثر لنضيعه أمام التلفزيون وبرامجه التافهة، أو التصفح الغير الهادف للإنترنت. ولو حسبنا هذا الوقت لوجدنا لدينا على الأقل ساعتين يومياً يمكننا عمل أشياء كثيرة مفيدة لأنفسنا والمجتمع، مثل الترجمة، المساعدة في العثور على الأخطاء وتقريرها... إلخ. ذكرت هذه الأشياء لأنها من أبسط ما يكون، مع ذلك فهي فعالة. على سبيل المثال، أنا متزوج ولي طفة أعتني بها، وأعمل كمدرب للكمبيوتر بمدة تدريس تعادل 6 ساعات أو أكثر يومياً بالإضافة لما يتطلبه عملي من التحضير لتدريس هذه المواد. مع ذلك أجد الوقت كي أقوم بأعمال كثيرة وبمعدل ساعة يومياً على الأقل في أسوء الظروف. أتذكر العديد من المرات التي ألحيت فيها على ردهات لإضافة بعض الخطوط العربية والواجهة العربية لكيدي مع أنها لم تكن كاملة، وفي كل مرة فعلت فيها ذلك، كان الأمر لا يستغرق أكثر من الوقت المقضي في شرب فنجان من الشاي!
</p><p>
<b>
19. كيف يمكن للينكس ان ينتشر؟
</b>
<br><br>
أعلم الناس عنه، وساعدهم على استخدامه، واجعلهم يساهمون به.
</p><p>
<b>
20. أين ترى لينكس العربي بعد 5 سنوات؟
</b>
<br><br>
أدعو الله دائماً أن يُفيق مجتمعنا ويرى فوائد وحاجات هذا النظام. إن حدث ذلك، فسوف يكون بكل تأكيد نظام التشغيل الأساسي الشائع بين أفراد المجتمع العربي.
</p><p>
<b>
21. اين ترى نفسك بعد 5 سنوات؟
</b>
<br><br>
بعيداً عن أي شيء يتعلق بميكروزفت :-) أريد أن أكون "حرّاً بمعنى الحرّيّة". أريد أن أتعلم المزيد والمزيد عن لينكس والمصدر المفتوح وأن أحقق هذا الحلم. اعتمادنا على منتجات ميكروسوفت يجب أن ينتهي عاجلاً وليس آجلاً.
</p><p>
<b>
22. هل لديك نصيحة للعالم العربي تجاه لينكس والمصادر المفتوحة؟
</b>
<br><br>
انسوا أمر ميكروزفت. لقد كنت ولسنين طويلة غارقاً في "دوّامة ميكروزفت" وأعرف الكثير من مشاكلها، وعودها الكاذبة، وكلامها المنمق الفارغ. لن تموت إن لم تلعب لعبتك المفضلة التي لا تعمل إلى على ويندوز. هناك دائماً بديل، وإن لم يكن فعليك العمل على كونه.
</p> 
</div>
<p align="left">
  <font color="#ff0000">
    <i>Supplied courtesy of - Ossama Khayat</i></font>
</p>
