<!--
 $Id$

 - Translated by, Abdulaziz Al-Arfaj
 -->
<p align="left"><font color="#ff0000"><i>Translated</i></font></p>
<div dir="rtl" align="right">
<b>بيانات أساسيّة ...</b>
<br>
<table border="0" cellpadding="0" cellspacing="6">
<tr>
  <td>&nbsp;</td>
  <td>الإسم الكامل</td>
  <td>&nbsp;</td>
  <td colspan="3">كريستيان بيرييه</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>العمر</td>
  <td>&nbsp;</td>
  <td colspan="3">43 عاما</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>الجنسيّة</td>
  <td>&nbsp;</td>
  <td colspan="3">فرنسي</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>بلد الإقامة الحاليّة</td>
  <td>&nbsp;</td>
  <td colspan="3">باريس ، فرنسا</b>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>الوظيفة</td>
  <td>&nbsp;</td>
  <td colspan="3">مصمّم فري دسكتوب سيستمز، مهندس نظم برامج حرّة</b>
</tr>
</table>
<p>
<b>
1. هل هناك مشاريع مفتوحة المصدر تعمل معها؟ وما هي؟ 
</b>
<br><br>
أنا أحد أعضاء مشروع دبيان منذ 2001. بدأت العمل مع المشروع إثر كوني أستعمل نظام دبيان منذ 1997.
<br><br>
بدأت العمل مع دبيان بحزم بعض التّطبيقات الجينيالوجيّة كنت قد أستعملها على أنظمتي.
<br><br>
خلال فترةٍ وجيزة بدأت العمل على مسائل الدّعم المحلّي و العالمي، بالأخص لأنّي لم أكن ما قد يسمّى بـ "هاكر متمرّس". أصبحت عضواً نشطاً في فريق التّرجمة للفرنسيّة في أواخر 2002 ومازلت مساهماً فعّالاً في ذلك.
<br><br>
خلال عام 2003 بدأت العمل على الدّعم المحلّي للفرنسيّة على مثبّت دبيان (D-I) والذي كان يشهد الكثير من التّطوير. في غضون أشهر أصبحت المسيّر العام القائم لأعمال الدّعم العالمي على .
</p><p>
<b>
2. ما الشّيء الوحيد الذي لا يعرفه معظم النّاس عنك (من هوايةٍ تمارسها أو شيءٍ تكرهه أو قدرةٍ تملكها إلخ...)؟
</b>
<br><br>
هنالك الكثير ممّا لا يعلمه النّاس :-). عادةً ما أظهر نفسي على أنّي تقني خارج المألوف. أصعب ما ألاقيه هو التّوفيق بين حماستي للبرامج الحرّة و نزعةٍ دائمة لعمل المزيد... و كذلك حياتي العائليّة(أقصد بذلك زوجتي وأولادي الكبار الثّلاثة).
<br><br>
يجدر بي أيضاً أن أذكر أن عملّي اليومي حاليّاً يستدعي معرفةً بأنظمة التّشغيل المتملَّكة أكثر منها بالبرامج الحرّة... من الأرجح أن بإمكاني أن أكون MCSE ولكن من المؤكّد أنّي لن أكون كذلك أبداً... :-)
</p><p>
<b>
3. ما هي أفكارك حول لينكس و المصادر المفتوحة؟
</b>
<br><br>
منذ الأيّام القلائل التي تلت اكتشافي البرامج الحرّة (والتي تعيدني إلى إصدارات لينكس قديمةٍ جدّاً) وأنا أعتبر أن البرامج الحرّة هي مستقبل الحوسبة.
<br><br>
الاستعمال اليومي للبرامج المتملَّكة وخبرة كخبرة MCSE على أنظمة تشغيل مايكروسوفت (م.م.) لم تفشل قط في أن تثبت صحّة كلامي هذا.
<br><br>
بالمناسبة فأنا أميل لتجنّب استعمال عبارة "المصادر المفتوحة" وذلك للأسباب ذاتها التي كثيراً ما يذكرها ر. ستالمان في أحاديثه وكتاباته.
<br><br>
البرامج الحرّة هي في رأيي أكثر الوسائل فعاليةً لتمهيد درب الحوسبة واستعمال الحواسيب أمام أكبر عددٍ من النّاس.
<br><br>
بالتّاكيد فإن هذا هو السّبب الرّئيسي لانهماكي في الدّعم العالمي للبرامج الحرّة. كوني قد نشأت في دولةٍ ذات إحساسٍ قوي بلغتها و هويّتها الثّقافيّة فأنا أحاول بذل قصارى جهدي لفتح أبواب عالم البرامج الحرّة في العالم أجمع و لكسر حاجز اللّغة الإنجليزيّة.
</p><p>
<b>
4. ما الذي أثار اهتمامك بلينكس و المصادر الفتوحة؟
</b>
<br><br>
صديقٌ اسمه رينيه كونيان. من المؤكّد أن رينيه كان أوّل مستخدمي لينكس في فرنسا وأحد المساهمين القدامى في لينكس والبرامج الحرّة وهو بالتّاكيد من أظهر لي تماماً ما تعنيه كلمة "حرّة".
<br><br>
دائماً ما أبحث عن كل مناسبةٍ لذكر رينيه والذي توفّي للأسف عام 1998. أنا فخورٌ دائماً بأنّي قد كنت صديقاً له.
<br><br>
بدأت لاحقاً بتقديم البرامج الحرّة وأنظمة لينكس إلى بيئتنا الحاسوبيّة في العمل (أعمل في شركةٍ فرنسيّةٍ عامّة للأبحاث). مثلاً شبكتنا الحاليّة لمشاركة الملفّات مؤلّفةٌ من عدّة نوادل لينكس/سامبا  منذ العام 1998.
</p><p>
<b>
5. ما هي أقوى نقاط الأفضليّة لدى لينكس والمصادر المفتوحة كما تراها أنت؟
</b>
<br><br>
الانفتاح. أيٌّ من كان يمكنه المساهمة في أي مشروع برامج حرّة ضمن قدراته أو قدراتها.
<br><br>
أعتقد كذلك أن استخدام البرامج الحرّة يفتّح العقول. نادراً ما التقيت فكراً انغلاقيّاً ضمن حركة البرامج الحرّة رغم وجود الكثير من الشّخصيّات القويّة. قد تكون الفرصة أمام البرامج الحرّة لأن تأتينا بعالمٍ أفضل.
</p><p>
<b>
6. ما الذي يقلقك و يضايقك في حركة المصادر المفتوحة؟
</b>
<br><br>
بالأخص أنّها تتطلّب الكثير من وقتي وجهدي لكنّي أظن أن حماستي هي السّبب في ذلك...
<br><br>
إذا صرنا على محمل الجد فإنّني سرعان ما استثار من قبل الغوغاء التي نراها تحوم حاليّاً حول "المصادر المفتوحة". الانفتاح وحده ليس بالكافي. حريّة الاستعمال هي الأخرى نقطةٌ هامّة. كثيراً ما أفكّر أن الاتّجاهات التي تتّخذها توزيعات لينكس الكبرى ليست دائماً أفضل ما يحل بمجتمع لينكس.
</p><p>
<b>
7. كيف ترى مكان اللّغة العربيّة في حركة المصادر المفتوحة؟
</b>
<br><br>
تماماً كما أراه بالنّسبة لكبرى مجتمعات حضارات العالم. المجتمع النّاطق بالعربيّة له تأثيرٌ كبير في عدّة مناطق من العالم ولذلك فعلى البرامج الحرّة أن تصل للمجتمع من أجل تغطيةٍ عالميّةٍ شاملة.
<br><br>
في أيّامنا هذه إذ كثيراً ما نرى كل حضارةٍ تصطدم بالأخرى أعتقد أيضاً أن مجتمعات البرامج الحرّة لها بعض القدرة لتبديل الأفكار.
<br><br>
السّياسيّة ليست أبداً بالبعيدة حين تعاملنا مع هذه المفاهيم وكثيراً ما أعارض من يظنّون أن مجتمعات البرامج الحرّة يجب أن تظل بعيدةً عن السّياسة. بمجرّد عملنا من أجل تغطيةٍ أوسع للبرامج الحرّة فإنّنا بالفعل نقوم بالعمل السّياسي. حينما أساعد مواطناً أميركيّاً على إنجاز العمل المتعلّق بدعم ثنائيّة الاتّجاه في دبيان، والذي بدأه مطوّرٌ اسرائيلي... ومن ثمّ توفيير دعمٍ لكلّ هذا من أجل اللّغة العربيّة فأنا أقوم بعملٍ سياسي بإظهار أن البرامج الحرّة تجعل كل هذا ممكناً. تماماً ككوني أقوم بعملٍ سياسي بمحاولتي العثور على مترجمٍ للّغة الأخرى في الجزائر (الأمازيغ).
</p><p>
<b>
8. ما أسباب اشتراكك بالعمل على لينكس والمصادر المفتوحة؟
</b>
<br><br>
غالباً للأسباب التي حاولت ذكرها أعلاه.
</p><p>
<b>
9. كيف ستزيد من مساهمتك في لينكس و المصادر المفتوحة؟
</b>
<br><br>
لا تخبر زوجتي بهذا أبداً...:-) إذا كنّا نتحدّث جدّيّاً فسيكون ذاك بتحقيق أحد أهدافي في العمل منذ زمنٍ بعيد؛ نشر أنظمة سطح المكتب المبنيّة على البرامج الحرّة في كل أرجاء وكالة الأبحاث الحكوميّة الفرنسيّة التي أعمل لها...
</p><p>
<b>
10. برأيك ما هي كبرى مساهماتك للينكس و المصادر المفتوحة العربيّة؟
</b>
<br><br>
واحدةٌ فقط في الوقت الرّاهن؛ توفير أوّل نظام تثبيت لإصدارة لينكس بترجمةٍ عربيّة. رغم كوني غير مؤهّلٍ تقنيّاً للقيام بهذا فقد وضعت الهيكليّة المناسبة لتمكين الأشخاص المعنيّين من العمل على الأجزاء اللّازمة.
</p><p>
<b>
11. كيف ترى مكان لينكس و المصادر المفتوحة في المجتمع العربي؟
</b>
<br><br>
تماماً كما أرى مكانه في المجتمعات الأخرى. إحدى كبرى العقبات أمام بيئات المصادر المفتوحة هي إقناع صنّاع القرار أن البرامج الحرّة حلٌّ معقول لمسائل أنظمة المستخدمين والبنى التّحتيّة.
<br><br>
المجتمع العربي أحد أهم المجتمعات بخصوص ذلك؛ لا يمكن للمرء أن يتصوّر إمكانيّة نشرٍ واسعٍ للبرامج الحرّة في الدّول العربيّة إذا لم تكن هذه البرامج تدعم اللّغة العربيّة.
<br><br>
كذلك فإن دعم اللّغة العربيّة غالباً ما يكون مفتاحاً لدعم فضائل أخرى من اللّغات حيث أنّها تتطلّب أنماطاً خاصّة من المعالجة يمكن إعادة استخدامها في أماكن أخرى.
</p><p>
<b>
12. ما المسار الأمثل للتّطوير وللتّقدّم برأيك؟
</b>
<br><br>
حسنٌ، المسار الذي سلكناه و ما زلنا عليه بخصوص مثبّت دبيان مسارٌ يثير الاهتمام... نحن نترجم الجزء المتعلّق بالتّثبيت من نظام التّشغيل في حين أنّه من الواضح أن معظم مهندسي النّظم يستخدمون اللّغة الإنجليزيّة لمهامٍّ كهذه...
<br><br>
هذه رسالةٌ سياسيّةٌ نوعاً ما؛ بفعلنا هذا نظهر لكل مجتمع (المجتمع العربي في حديثنا هذا) أنّنا فعلاً مهتمّون به... وبذلك فإنّنا نأمل أن نستقطب المزيد من أفراد هذا المجتمع ليساهموا في المشروع.
</p><p>
<b>
13. أيّ المسائل برأيك تستدعي عملاً أكثر؟
</b>
<br><br>
في غالب ظنّي، استقطاب المزيد من المترجمين. الكثير من العمل قد تمّ إنجازه بالنّسبة لتطويراتٍ معيّنة خاصّة بالعربيّة (كثنائيّة الاتّجاه ودعم تشكيل الحروف) في برامج عدّة، إذاً فالطّريق الآن ممهّدة جيّداً.
<br><br>
الجزء الأكثر غموضاً والمتعلّق بالتّرجمة والمراجعة وتركيب كلّ الأجزاء مع بعضها سيتطلّب المزيد من الطّاقات...
</p><p>
<b>
14. ما الذي تودّ أن تراه عاجلاً وليس آجلاً؟
</b>
<br><br>
نظام لينكس عربيٍّ كاملٍ مبنيٍّ على دبيان..:-). أنا لا أصدّق بأن الكيانات التّجاريّة قد تهتم يوماً بشيءٍ عدا حصّتها في السّوق. لذا فحتّى ولو صار لريدهات وماندريك وسوزي وغيرها في يومٍ من الأيّام توزيعة لينكس تدعم العربيّة بالكامل فلن أرى في ذلك إنجازاً كبيراً لأن ذلك قد تم فقط بسبب حصّةٍ من السّوق أرادوا الحصول عليها.
</p><p>
<b>
15. ما الذي يشحذ همّتك ويزيد من رغبتك في المساهمة؟
</b>
<br><br>
الحماسة فقط... والشّعور القوي بأن بناء عالمٍ أفضل في متناولنا. ليس فقط بالبرامج الحرّة... لكن يمكننا المساهمة في ذلك.
</p><p>
<b>
16. أيٌّ من الإنجازات على لينكس العربي أثارت حماسك؟
</b>
<br><br>
رؤيتي لأوّل شاشة مثبّت دبيان مع عربيّةٍ صحيحةٍ من اليمين إلى الشّمال... على الرّغم من كوني عاجزاً تماماً عن قراءتها..
</p><p>
<b>
17. ما هي بعض وصلاتك وقنواتك المفضّلة؟
</b>
<br><br>
#debian-boot تكفيني...
</p><p>
<b>
18. ماذا قد تقول للآخرين لتستقطبهم للانضمام إلى حركة لينكس والمصادر المفتوحة؟
</b>
<br><br>
كفّوا عن الاعتقاد بأن المساهمة تتطلّب هاكر عبقريّاً. كلٌّ منّا يمكنه أن يأتي بحجرٍ واحدٍ إلى البناء، حتّى أصغرها.
</p><p>
<b>
19. لو كنت فاعلاً فكيف ستقدم على توسعة لينكس العربي عموماً؟
</b>
<br><br>
الأرجح أنّي سأمكّن من ترجمة المزيد من أجزاء النّظام (ولم لا تكون لدينا في يومٍ من الأيّام نواة لينكس مع رسائل بالعربيّة أثناء الإقلاع؟)
</p><p>
<b>
20. أين ترى لينكس العربي بعد خمس سنوات؟
</b>
<br><br>
أود أن أراه في كل مدرسةٍ في الدّول النّاطقة بالعربيّة.
</p><p>
<b>
21. أين ترى نفسك بعد خمس سنوات؟
</b>
<br><br>
آمل أن أصبح مصممّاً لفري دسكتوب سيستمز... أو ربّما سأكون أطارد خلف مترجم شيروكي أو إينويت أو كلينغون من أجل مثبّت دبيان محاولاً ملأ آخر فجوةٍ تشكّل 1% تقف بيننا وبين تغطيةٍ كاملة لسكّان العالم بأسره.
</p><p>
<b>
22. هل لديك أي نصائح للنّاطقين بالعربيّة حول لينكس والمصادر المفتوحة؟
</b>
<br><br>
أبقوها مفتوحةً و أبقوها حرّةً. أكبر تحدّي ستواجهه حركة البرامج الحرّة خلال -السّنوات القادمة سيكون الحفاظ على البرامج الحرّة وإبقاؤها حرّةً قبل أن تصير -"مفتوحة المصدر" فحسب.
</p> 
</div>
<p align="left">
  <font color="#ff0000">
    <i>Supplied courtesy of - Abdulaziz Al-Arfaj</i></font>
</p>
