<!--
 $Id$

 - Conducted by Nadim Shaikli (Sept 29, 2004)
 -->
<p align="right"><font color="#ff0000"><i>Original</i></font></p>
<b>The Basics ...</b>
<br>
<table border="0" cellpadding="0" cellspacing="6">
<tr>
  <td>&nbsp;</td>
  <td>Full Name</td>
  <td>&nbsp;</td>
  <td colspan="3">Christian Perrier</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Age</td>
  <td>&nbsp;</td>
  <td colspan="3">43</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Country of origin</td>
  <td>&nbsp;</td>
  <td colspan="3">France</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Residing in</td>
  <td>&nbsp;</td>
  <td colspan="3">Paris, France</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Occupation/Studying</td>
  <td>&nbsp;</td>
  <td colspan="3">Desktop Systems designer, Free software system engineer</td>
</tr>
</table>
<p>
<b>
1. Is there a project or site that you are affiliated with ? If so, how ?
</b>
<br><br>
I am a member of the Debian Project since 2001. I started to work
inside the project after having used Debian systems since about 1997.
<br><br>
I began working in Debian by packaging a few genealogical applications
I was already using on my systems.
<br><br>
Quite soon, and mostly because I'm not what could be called a "deep
hacker", I began working on internationalisation and localisation
issues. I became an active member of the French translation team in
late 2002 and I'm still deeply involved in it.
<br><br>
During year 2003, I began working on the French l10n of the Debian
Installer (D-I) software which was under heavy development. Within a
few month, I became the de facto general coordinator of
internationalisation work on D-I.
</p><p>
<b>
2. What is one thing that most people don't know about you
   (hobby, pet-peeve, abilities, etc) ?
</b>
<br><br>
There are a lot of things people don't know..:-). I usually present
myself as a non standard geek. The most difficult is often
conciliation between my enthusiasm for free software and a tendency to
always do more....and my family life (that is, my wife and my three
grown up kids). 
<br><br>
I should also mention that my daily work currently involves more
knowledge in proprietary operating systems than free software... I
probably could be MCSE but I certainly will never be..:-)
</p><p>
<b>
3. What are your thoughts on Linux and open-source ?
</b>
<br><br>
Since the very early days I discovered free software (which bring me
back to very early Linux releases), I consider that free software is
the future of computing.
<br><br>
Daily practice with proprietary software and MCSE-like expertise on
Microsoft(TM) operating systems are never proven me wrong on that
point.
<br><br>
I tend to avoid the wording "open source", by the way, for about the
same reasons R. Stallman often mentions in his talks/writings.
<br><br>
In my opinion, free software is the most efficient way to open as much
people as possible to computing and using computers.
<br><br>
This is for sure the main reason of my involvment in free software
i18n. Being originated in a country with a strong feeling of language
and cultural identity, I try to make by best for opening the world of
free software all around the world and break the English language barrier.
</p><p>
<b>
4. What got you interested in Linux and open-source ?
</b>
<br><br>
A friend named René Cougnenc. René is for sure nearly the very first
Linux user in France, one of the earlier Linux and free software
contributor and certainly the one who revealed me what "free" indeed
means.
<br><br>
I always take any occasion for mentioning René, who unfortunately
passed in 1998. I'm always proud of having been his friend.
<br><br>
Later, I began introducing free software and Linux systems in our
computing environment at work (I work for a french public research
organization). For instance, our current file sharing network is made
by several Linux/Samba file servers since 1998.
</p><p>
<b>
5. What are Linux/open-source's major advantages, as far as you are
   concerned ?
</b>
<br><br>
Openess. Anyone can contribute to any free software project with
his/her own abilities.
<br><br>
I also consider that using free software open minds. I have very
rarely encountered closed mind attitudes in the free software
movement, even though very strong personalities are involved. Free
software may have the opportunity to bring us a better world.
</p><p>
<b>
6. What irks/displeases you about the open-source movement ?
</b>
<br><br>
Most often requiring me too much time and involvment, but I guess this
is more the consequence of my own enthusiasm...
<br><br>
More seriously, I'm easily irritated by some hype currently flying
over "open source". Being opened is not enough : the freeness of use
is another key point. I often tend to think that the directions driven
by the major Linux distributions companies is not always the best
thing happening to the Linux community.
</p><p>
<b>
7. How do you see Arabic fitting into the open-source movement ?
</b>
<br><br>
Just like any other of the major world cultural communities. The
Arabic-speaking community in the world has a strong influence in
several parts of the world, so free software environments have to
reach the community for total World Domination.
<br><br>
In the current days where cultures are often opposed one against
another, I also think that free software communities have some power
for changing minds.
<br><br>
The politics is never far when dealing with these concepts and I often
tend to disagree with people who think that free software communities
should have nothing to do with politics. By working for a wider
distribution of free software, we are indeed doing politics. When I
help a USA native finishing the work on Bidi support in Debian,
started by an Israel developer...and making all this support the
Arabic language, I'm doing politics by showing that free software
makes this possible. Just like I'm doing politics when trying to find
a translator for the real second language in Algeria (tamazight).
</p><p>
<b>
8. How have you been involved in Linux/open-source ?
</b>
<br><br>
Mostly because of all the reasons I have tried to mention above.
</p><p>
<b>
9. How will you become more involved in Linux/open-source ?
</b>
<br><br>
Don't ever tell this to my wife...:-). Seriously speaking, by reaching
one of my long term goals at work : spreading out free software-based
desktop systems all around my french governmental research agency....
</p><p>
<b>
10. What would you say your major contributions to Arabic
    Linux/open-source have been ?
</b>
<br><br>
At the moment, only one : make my best for making possible the very
first Linux distribution installation system with an Arabic
translation. Though I was technically incompetent for reaching this, I
have put the needed glue for having the needed people working on the
needed parts.
</p><p>
<b>
11. How do you see Linux/open-source fitting into the Arab community ?
</b>
<br><br>
The same way it fits into other communities. A major challenge for
open-source environments now is convincing decisional people that free
software may be a credible solution for infrastructures and end-users
systems.
<br><br>
The Arab community is one of the most important communities for this :
one cannot imagine that free software may be deployed widely in
Arabic-speaking countries if these free softwares do not have support
for the Arabic language.
<br><br>
Arabic language support is also often the opening key for the support
of several other families of languages, because it requires specific
handling which may be re-used elsewhere.
</p><p>
<b>
12. What is the ideal path for development and progress in your opinion ?
</b>
<br><br>
Well, what we did and continue to do with the Debian Installer is an
interesting path... We translate the installation part of an operating
system while it is obvious that most system engineers indeed use
English for such tasks...
<br><br>
This is a kind of political sign : by doing this, we show each
community (in that case, the Arab community) that we care about
it...and, thus, we hope to get more people from this community
involved in the project.
</p><p>
<b>
13. What areas, in your opinion, need the most work ?
</b>
<br><br>
Probably, now, get more translators involved. A lot of work has been
done on specific developments for Arabic (BiDi/shaping support) in
several software, so the path is quite well paved now.
<br><br>
More and more manpower will be needed for the obscure part of
translating /reviewing/putting everything together...
</p><p>
<b>
14. What would you like to see happen sooner rather than later ?
</b>
<br><br>
A full Debian-based Arabic Linux system..:-). I don't trust commercial
entities for caring about anything else than market share. So, even
though Redhat/Madrake/SuSe/others will probably have, some day, a full
Linux distribution supporting Arabic, I won't consider it as a major
progress because it will have happened just because there's an
important market share to reach.
</p><p>
<b>
15. What gets you moving and wanting to contribute ?
</b>
<br><br>
Enthusiasm only...and the strong feeling that we can build a better
world. Not only with free software...but we can contribute to it.
</p><p>
<b>
16. What Arabic Linux accomplishments have really excited you ?
</b>
<br><br>
Seeing the very first Debian Installer screen with properly
right-to-left Arabic...even though I'm completely unable to read it..
</p><p>
<b>
17. What are some of your favourite links/channels ?
</b>
<br><br>
#debian-boot is enough for me...
</p><p>
<b>
18. What would you tell others to get them involved in the
    Linux/open-source movement ?
</b>
<br><br>
Just stop believing that one must be a genius hacker for
contributing. Everyone can bring his/her own stone to the building,
even the smallest one.
</p><p>
<b>
19. How would you go about expanding Arabic Linux in general ?
</b>
<br><br>
Probably by making possible to translate new parts of the systems (and
why not, some day, a Linux kernel with Arabic messages at boot ?)
</p><p>
<b>
20. Where do you see Arabic Linux in five years ?
</b>
<br><br>
I want to see it in every school in Arabic-speaking countries. 
</p><p>
<b>
21. Where do you see yourself in five years ?
</b>
<br><br>
I hope I will be a Free Desktop Systems designer...or maybe I will be
chasing around a cherokee, inuit or klingon translator for our Debian
Installer, trying to fill in the last 1% gap we will lack for covering
the whole world population.
</p><p>
<b>
22. Do you have any advice for the Arabic-speaking world regarding
    Linux and open-source ?
</b>
<br><br>
Keep in opened and keep it free. The biggest challenge the free
software movement will face in the next years will be keeping free
software free before being only "open source".
</p>
