<!--
 $Id$

 - Conducted by Nadim Shaikli (Dec 30, 2004)
 -->
<p align="right"><font color="#ff0000"><i>Original</i></font></p>
<b>The Basics ...</b>
<br>
<table border="0" cellpadding="0" cellspacing="6">
<tr>
  <td>&nbsp;</td>
  <td>Full Name</td>
  <td>&nbsp;</td>
  <td colspan="3">Arafat el Medini</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Age</td>
  <td>&nbsp;</td>
  <td colspan="3">23</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Country of origin</td>
  <td>&nbsp;</td>
  <td colspan="3">Tunisia/Germany</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Residing in</td>
  <td>&nbsp;</td>
  <td colspan="3">Hamburg, Germany</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Occupation/Studying</td>
  <td>&nbsp;</td>
  <td colspan="3">Physics Student</td>
</tr>
</table>
<p>
<b>
1. Is there a project or site that you are affiliated with ? If so, how ?
</b>
<br><br>
I am affiliated with Arabeyes, the GNOME project and the Freedesktop
project.
<br><br>
I am mainly involved in translation work. Doing and coordinating
translation of the Gnome Desktop environment, and right now developing
standardization guidelines for future translation attempts.
I am also trying to register Arabeyes as a legal entity within the
German law.
</p><p>
<b>
2. What is one thing that most people don't know about you
   (hobby, pet-peeve, abilities, etc) ?
</b>
<br><br>
Maybe the majority think that I am an informatics student, but in
reality I study Physics! I've also been involved in Karate for many years!
I like doing 3D modelling and Web-design too!
<br><br>
Yeah we have a pet here, a rabbit, but I really don't like him so much,
as everytime he's in my room he eats everything he finds!
<br><br>
Abilities! I can move my ears! Really!!!
</p><p>
<b>
3. What are your thoughts on Linux and open-source ?
</b>
<br><br>
Regarding Open source: the ideology. Businesses based on linux don't
have 'selling software' as a goal, the whole process of making software
changes, companies begin to share code and concentrate on services, this
is simply terrific! No more monopolies, great services and robust
software.
<br><br>
The combination Linux/OSS is a killer: you have a kernel as an example
to windows, solaris and darwin to compare against, and this kernel runs on
everything from a watch to a server, and every bug can be squashed by
everyone everywhere everytime, anyone can patch it or change it and
suite it to their needs. Flexibility with robustness. This is in my eyes
is the future.
</p><p>
<b>
4. What got you interested in Linux and open-source ?
</b>
<br><br>
I ran into Linux in winter '99. I've been into computers and computer science
for more then 13 years now. In its early years linux was promoted as a
powerful Desktop solution for "free people", I am a very "alternative"
person in my world view: I like alternative music, b-movies and that
sort of stuff so when I heard about the freedom choice, the power and
the freshness of Linux I thought I'd give it a try. Linux as the PC
world's under-dog got me hooked-up. A C/C++ compiler was also free
(the gcc) and I thought, yeah as I want to learn C anyway that would
be great to have a free compiler! Yet still I haven't had a chance
to learn C till today :/
</p><p>
<b>
5. What are Linux/open-source's major advantages, as far as you are
   concerned ?
</b>
<br><br>
Open source software is transparent, I feel very comfortable as I
know exactly what I have in my box, it is in my eyes totally secure cz
every hole gets instantanously patched. Linux is rock-solid, the box
never crashes, it's really shoking to see a computer box that never
crashes. As for the open source ideology, the movement itself! Open
source does not mean for free nor is there only one open source license,
so the whole social and scientifical impact and it's energy to create
new "computer ethics", did you know for eg. that any open source license
must apply for more then one and only one product?
You can't make a license only for one software product you are selling,
so what consequences does this bring? this is very interesting!
</p><p>
<b>
6. What irks/displeases you about the open-source movement ?
</b>
<br><br>
Software development is still mainly controlled by companies, the
concept is still too geeky and too few volunteers everywhere. It's not
innovative at all regarding software technology and too slow in my eyes.
The movement is very flexibility of and has a very strong ideology, but
its body itself is still very weak.
</p><p>
<b>
7. How do you see Arabic fitting into the open-source movement ?
</b>
<br><br>
Open source is an avant-gardistic movement, so at the forefront of
globalization, with ppl from everywhere contributing to software which
is nowhere only residing on abstract CVS trees. Unfortunately the Arabic
culture is not participating in the globalization process at all. So the
conseuqence is that Arabs and Arabic are only "cutomers" of that
movement consuming what the movement produces.
</p><p>
<b>
8. How have you been involved in Linux/open-source ?
</b>
<br><br>
Back in 2002 I wanted to combine my enthusiasm for the gnome project
with my love for the Arabic world. The translation status of Arabic
within gnome was catastrophic with something about 30% of the whole desktop
translated. So I informed the gnome people that I wanted to start
translating gnome into Arabic and they pointed me to the Arabeyes project. 
</p><p>
<b>
9. How will you become more involved in Linux/open-source ?
</b>
<br><br>
I want to learn C and hopefully I'll finally write my own gnome app.
I would like to then move from simply translating gnome to standardization
work, the promotion of standardization of Arabic translation tools and methods
will be my next goal.
</p><p>
<b>
10. What would you say your major contributions to Arabic
    Linux/open-source have been ?
</b>
<br><br>
Translating gnome to Arabic, to give the Arabic language the place it
deserves in the gnome world.
<br><br>
I also helped in searching and fixing many bugs in gnome to make it the
platform with the BEST support for the Arabic language in the whole
computer world.
</p><p>
<b>
11. How do you see Linux/open-source fitting into the Arab community ?
</b>
<br><br>
I think, open source is, if really embraced, the ideoglogical boost to
get the Arabs directly into the next level, it is like making a jump
from the middel ages directly to post-modernism. It would allow people
all over the Arabic region to share technology in a simple standardized
way. The consequences of such a process are terrific.
OSS software, so for eg. Linux, is great because it is mostly free, the
Arabic world is very poor, so this technology due to it being so advanced
and free can only be beneficial. OSS software is... Open source ;) so it
can be tailored to meet the exact demends of the Arabic citizen directly
without asking a company and waiting for a patch for years.
</p><p>
<b>
12. What is the ideal path for development and progress in your opinion ?
</b>
<br><br>
1) A totally open mind
<br>
2) Hard work
<br>
3) Enjoy life to its fullest ;)
</p><p>
<b>
13. What areas, in your opinion, need the most work ?
</b>
<br><br>
People speak too much do too little.
</p><p>
<b>
14. What would you like to see happen sooner rather than later ?
</b>
<br><br>
Many many many people work on FOSS projects. This will make FOSS really
spread, we will get more developers and more and more people will get
interested.
</p><p>
<b>
15. What gets you moving and wanting to contribute ?
</b>
<br><br>
Getting the Arabic language into the 21st century, and getting
technology available for the Arabic person. I want to have every API
written in Arabic glyphs !
</p><p>
<b>
16. What Arabic Linux accomplishments have really excited you ?
</b>
<br><br>
Definetely the Arabeyes project. It is a freakin place to change and
develop idea that's what we always needed and still need. Something like
makha taht assur (if someone knows it)
</p><p>
<b>
17. What are some of your favourite links/channels ?
</b>
<br><br>
videogames: gamefront.de (german) ign.com (only the nintendo channels)
<br>
Star trek: trekweb.com
<br>
Linux/FOSS: planet.gnome.org planet.arabeyes.org linux4arab.com
<br>
osnews.com slashdot.org
<br>
misc: spiegel.de (news site) yomiuri.co.jp (news site)
<br>
channel: #arabeyes #gnome #ubuntu
</p><p>
<b>
18. What would you tell others to get them involved in the
    Linux/open-source movement ?
</b>
<br><br>
You'll be famous! You'll change the world! It's free of charge! People
will envy you! 
</p><p>
<b>
19. How would you go about expanding Arabic Linux in general ?
</b>
<br><br>
Make a distro that REALLY supports Arabic in every aspect from scratch,
make R&D centers like Arabeyes so more Arabeyes' and far more
marketing. People need to become aware of Linux, and especially of the
concept of an "Arabic Linux".
</p><p>
<b>
20. Where do you see Arabic Linux in five years ?
</b>
<br><br>
We will have standards, and big deployments. I think after 5 years the
real fun will start, with a mature set of standards by then, mature
Desktops and big deployments marketing and gaining developers will be
our biggest challenge.
</p><p>
<b>
21. Where do you see yourself in five years ?
</b>
<br><br>
That I complete my studies suceesfully and complete tavelling the world.
</p><p>
<b>
22. Do you have any advice for the Arabic-speaking world regarding
    Linux and open-source ?
</b>
<br><br>
Yeah, NEVER EVER underestimate you mother tongue, Arabic is a wonderful
language; it IS modern and it IS able to handle modern informatics like any
other language out there. You'll only be able to fully handle science in
your own language, not in any other language.
<br><br>
And be optimistic about the future of Arabic in the FOSS world - it is a
very bright future!
</p>
