<!--
 $Id$

 - Translated by, Arafat Medini
 -->
<p align="left"><font color="#ff0000"><i>Translated</i></font></p>
<div dir="rtl" align="right">
<b>بيانات أساسيّة ...</b>
<br>
<table border="0" cellpadding="0" cellspacing="6">
<tr>
  <td>&nbsp;</td>
  <td>الإسم الكامل</td>
  <td>&nbsp;</td>
  <td colspan="3">عرفات المديني</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>العمر</td>
  <td>&nbsp;</td>
  <td colspan="3">23 عاما</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>الجنسيّة</td>
  <td>&nbsp;</td>
  <td colspan="3">تونسي/ألماني</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>بلد الإقامة الحاليّة</td>
  <td>&nbsp;</td>
  <td colspan="3">هامبورج ، ألمانيا</b>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>الوظيفة</td>
  <td>&nbsp;</td>
  <td colspan="3">طالب علم الفيزياء</b>
</tr>
</table>
<p>
<b>
1. هل هناك مشاريع مفتوحة المصدر تعمل معها؟ وما هي؟ 
</b>
<br><br>
أنا عضو في مشاريع عربايز و جنوم و فريدسكتوب.
<br><br>
أشارك بالترجمة في الدرجة الأولى. إذ أقوم بترجمة التطبيقات و البرامج و بإدارة
الترجمة التي يقوم بها أعضاء آخرون. كما أقوم بمراقبة جودة الترجمة. حاليّا
أقوم بإدارة ترجمة بيئة جنوم المكتبيّة كما أقوم مع أعضاء آخرين بتطوير مقاييس
ترجمة لتعيير محاولات الترجمات المستقبليّة و لجعلها متساوية في جميع المشاريع.
كما أحاول حاليّا تدوين عربايز ككيان قانوني لدى السلطات الألمانيّة.
</p><p>
<b>
2. ما الشّيء الوحيد الذي لا يعرفه معظم النّاس عنك (من هوايةٍ تمارسها أو شيءٍ
تكرهه أو قدرةٍ تملكها إلخ...)؟
</b>
<br><br>
ربما يتصوّر العديد أنّني طالب إعلاميّة لكني في حقيقة الأمر طالب فيزياء!
كما أقوم منذ عدّةسنين بالكاراتي. أستمتع بالقيام بالفنون الأعلاميّة
الثلاثيّة الأبعاد "3D modelling" و بتصميم مواقع الواب.
<br><br>
نعم لدينا حيوان هنا في البيت، أرنب لكني لا أحبّه كثيرا بكل صراحة. إذ أنّه
كل مرّة يدخل فيها غرفتي يأكلكل ما يراه!
<br><br>
مواهب؟ طبعا!!! يمكنني تحريك أذنيّ! (حقّا!)
</p><p>
<b>
3. ما هي أفكارك حول لينكس و المصادر المفتوحة؟
</b>
<br><br>
فيما يخصّ المصادر المفتوحة: الأيديولوجيّة. نهج تطوير البرامج يتغيّر ثمّ تبدأ
الشركات المطوّرةفي مشاركة الشّفرة و التحوّل إلى التركيز على الخدمات
المبنيّة حول هذه البرامج عوض خدمات بيع الشفرة المحتكرة و هذا شيء عظيم!
لا شركة محتكرة للسّوق مع خدمات ممتازة و برامج متينة.
<br><br>
إتّحاد لينكس و فكرة المصادر المفتوحة قاتل: لديك نواة كنموذج تحاول زولارس و
ونداوس و داروِن مضاهاتهو هذه النواة تعمل عل كل شيء ابتداءا من السّاعة
اليدويّة حتّى النّادل مع إمكانيّة سحق كلّ خلل من طرف أيّ شخص أيّا كان في
كلّ الأوقات كما يستطيع كلّ إنسان ترقيع النواة أو تغييرها لملائمة أغراضه.
المرانة و المتانة هذا هو المستقبل.
</p><p>
<b>
4. ما الذي أثار اهتمامك بلينكس و المصادر الفتوحة؟
</b>
<br><br>
أوّل لقاء لي مع لينكس كان سنة 99 كنت مهتمّا منذ أكثر من 13 سنة بعلوم الإعلاميّة
و قد سُوِّق لينكس في بداياته كحلّ مكتبي راق لأناس ذوي فكر حرّ.  أنا شخصيّا
إنسان "alternative" في حياتي العامّة. أحبّ الموسيقى الـ "alternative"
و الـ "b-movies" و تلك الأشياء. و بالتالي كانت ردّة فعلي إيجابيّة عند
التعرّف على حرّيّة و شفافيّة لينكس كما قوّته و حداثته. لينكس كالبديل الحرّ
جلب انتباهي. كما كان هناك مجمّع c/c++ مجانيّ مع البرنامج فقلت لنفسي ما
دمت أريد تعلّم c فهذه فرصة ممتازة إذ سأتحصّل على مجمّع مجاني.
</p><p>
<b>
5. ما هي أقوى نقاط الأفضليّة لدى لينكس والمصادر المفتوحة كما تراها أنت؟
</b>
<br><br>
البرامج المفتوحة المصدر شفّافة. أشعر بنفسي مرتاحا جدّا لأني أعلم بالضبط
ما في حاسوبي كما أنّها آمنة تماما لأنّه يمكن ترقيع أيّ ثغرة آنيّا 
لينكس محكم و متين، حاسوبي لا ينهار أبدا. تصوّر حاسوبا لا ينهار! هذا جنون!!!
إما في ما يخص ايديولوجيّة البرامج المفتوحة المصدر فالحركة في حدّ ذاتها
فتنتني. مفتوح المصدر لا يعني مجانيّ كما لا يوجد ترخيص واحد للبرامج المفتوحة
المصدر. نتيجة ذلك اجتماعيّا و علميّا كما قدرة الحركة على إنشاء "شرع جديد" في
عالم الإعلاميّة هما نقطتا قوّة لا يوجدان إلّا في عالم البرامج الحرّة.
</p><p>
<b>
6. ما الذي يقلقك و يضايقك في حركة المصادر المفتوحة؟
</b>
<br><br>
تطوير البرامج ما يزال مدفوعا من قبل شركات محدّدة، الفكرة ما تزال نخبويّة و
المساهمون قليلون جدّا في كلّ مكان. الحركة ليست مبتكرة و بطيئة جدّا حسب رأيي.
لو لم تكن قوّة الفكرة و مرونة الحركة لما تسنّى لها الإستمرار و النموّ و
لربّما إندثرة إلى غير عودة.
</p><p>
<b>
7. كيف ترى مكان اللّغة العربيّة في حركة المصادر المفتوحة؟
</b>
<br><br>
حركة المصادر المفتوحة حركة تقدّميّة (avantgarde) وهي بالتالي في طليعة نظام
العولمة، إذ يساهم أناس من جميع أنحاء العالم في تطوير برامج ليست موجودة
كمادّة بل كشفرات في أشجار سي في أس تجريديّة على نوادل هي ذاتها مندثرة على
نزادل في جميع أنحاء هذا الكوكب. لكن ثقافتنا العربيّة في المقابل لا تساهم
في عمليّة العولمة بتاتا. و النتيجة أنّ العرب و اللغة العربيّة زبائن
للحركة يستهلكون كلّ ما تنتجه.
</p><p>
<b>
8. ما أسباب اشتراكك بالعمل على لينكس والمصادر المفتوحة؟
</b>
<br><br>
في سنة 2002 أردت دمج حماسي لمشروع جنوم بحبّي العميق للعالم العربيّ. كانت
حالة ترجمة جنوم للعربيّة فادحة إذ لم يترجم إلّا 30% من بيئة المكتب إلى
العربيّة. فسألت الشباب عند جنوم عن كيفيّة إمكانيّة ترجمة جنوم للعربيّة و
كانت إجابتهم أن أتوجّه إلى مشروع عربايز.
</p><p>
<b>
9. كيف ستزيد من مساهمتك في لينكس و المصادر المفتوحة؟
</b>
<br><br>
أريد أن أتعلّم لغة سي و كلّي أمل في أن أكتب تطبيقا تحت جنوم. كما أريد
التحوّل من مجرّد ترجمة جنوم لتطوير مقاييس ترجمة لضبط الترجمات المستقبليّة،
كما سيكون ترويج و ترقية تعيير أدوات و طرق الترجمة للعربيّة هدفي التّالي.
كما أني بصدد البحث عن إمكانيّة تدوين عربايز ككيان قانونيّ.
</p><p>
<b>
10. برأيك ما هي كبرى مساهماتك للينكس و المصادر المفتوحة العربيّة؟
</b>
<br><br>
ترجمة كامل جنوم للعربيّة لإعطاء اللّغة المكان الذي إستحقّته في عالم جنوم.
<br><br>
كما ساعدة في البحث عن و إصلاح العديد من الخلال في جنوم مما جعل البيئة أفضل
منصّة داعمة للعربيّة بدون منازع في كامل عالم البرمجيّات الحرّة و الغير حرّة.
</p><p>
<b>
11. كيف ترى مكان لينكس و المصادر المفتوحة في المجتمع العربي؟
</b>
<br><br>
حركة المصادر المفتوحة تمثّل الدفع الإديولوجيّ للرقاء بالعرب مباشرة إلى أعلى
مستوى في تكنولوجيّات الإعلاميّة. و كأنّك تقوم بقفزة من العصور الوسطى إلى عصر
ما بعد الحداثة. تمكّن هذه التكنولوجيا العرب من مشاركة المعلومات و البيانات
و البرامج بنحو معيّر و بسيط و حرّ. نتائج ذلك عظيمة. فيما يخصّ البرامج في حدّ
ذاتها، لينكس مثلا أو جنوم ممتازان لأنّهما مجانيّان و العالم العربي في مجموعه
فقير جدّا ممّا يجعل هذه التكنولوجيا التي هي متقدمة جدّا و في نفس الوقت مجانيّة
و قابلة للتخصيص مفيدة في كلّ الحالات.
<br><br>
أمّا عن ذات البرامج المفتوحة المصدر،فهي مفتوحة المصدر... ما يمكّن لكلّ شخص
أو شركة محلّيّة تغيير البرنامج دون إنتظار شركة محتكرة ما لترسل رقعة بعد
شهور أو سنين لإصلاح خلل أو إضافة ميزة يحتاجها المستخدم العربيّ. 
</p><p>
<b>
12. ما المسار الأمثل للتّطوير وللتّقدّم برأيك؟
</b>
<br><br>
1) الفكر الحرّ
<br>
2) العمل الصّارم
<br>
3) الإستمتاع بالدنيا!
</p><p>
<b>
13. أيّ المسائل برأيك تستدعي عملاً أكثر؟
</b>
<br><br>
الناس يتكلّمون كثيرا جدّا و لا يقومون إلّا بالقليل.
</p><p>
<b>
14. ما الذي تودّ أن تراه عاجلاً وليس آجلاً؟
</b>
<br><br>
العديد العديد من الناس الذين يعملون في مشاريع مفتوحة المصدر. سيجعل هذا حركة
البرامج المفتوحة المصدر تنتشر حقّا، و سنتحصّل على العديد من المطوّرين! 
</p><p>
<b>
15. ما الذي يشحذ همّتك ويزيد من رغبتك في المساهمة؟
</b>
<br><br>
إيصال العربيّة للقرن الواحد و العشرين. جعل التكنولوجيا الحديثة متوفّرة للإنسان
العربي. هدفي الأوتوبي هو أن تكون مكتبات تركيب البرامج بالعربيّة مستقبلا.
</p><p>
<b>
16. أيٌّ من الإنجازات على لينكس العربي أثارت حماسك؟
</b>
<br><br>
مشروع عربايز نفسه. ،إنّه مكان ممتاز لتبادل و تطوير الأفكار هذا ما كنّا نحتاجه
و ما مازلنا نحتاج. شيء مثل مقهى تحت الصّور.
</p><p>
<b>
17. ما هي بعض وصلاتك وقنواتك المفضّلة؟
</b>
<br><br>
videogames: gamefront.de (german) ign.com (only the nintendo channels)
<br>
Star trek: trekweb.com
<br>
Linux/FOSS: planet.gnome.org planet.arabeyes.org linux4arab.com
<br>
osnews.com slashdot.org
<br>
misc: spiegel.de (news site) yomiuri.co.jp (news site)
</p><p>
<b>
18. ماذا قد تقول للآخرين لتستقطبهم للانضمام إلى حركة لينكس والمصادر المفتوحة؟
</b>
<br><br>
ستكون مشهورا! ستغيّر العالم! إنّ البرامج ببلاش! سيحسدك الجميع!
</p><p>
<b>
19. لو كنت فاعلاً فكيف ستقدم على توسعة لينكس العربي عموماً؟
</b>
<br><br>
القيام بتوزيعة لينكس تدعم العربيّة بحقّ. توزيعة هدفها فقط دعم العربيّة، القيام
بمراكز بحث و تطوير مثل عربايز أي العديد العديد من العربايزات الأخريات و دفع
مجال التسويق. يجب أن يعلم الناس ما لينكس و بالخاصّة مفهوم "لينكس العربيّ".
</p><p>
<b>
20. أين ترى لينكس العربي بعد خمس سنوات؟
</b>
<br><br>
ستكون لنا مقاييس ممتازة و إنتشارات كبيرة للينكس في الشرق الأوسط و شمال
إفريقيا. أتصوّر أنه بعد 5 سنوات سيبدأ العمل الجدّي، بمجموعة مقاييس ناضجة
آنذاك و مكتب ناضج و الإنتشارات الكبيرة سيكون تحدّينا الأعظم التسويق الأكبر
و جلب مطوّرين أكثر.
</p><p>
<b>
21. أين ترى نفسك بعد خمس سنوات؟
</b>
<br><br>
أن أتمّ دراستي الجامعيّة بنجاح! و أنهي سفري العالم.
</p><p>
<b>
22. هل لديك أي نصائح للنّاطقين بالعربيّة حول لينكس والمصادر المفتوحة؟
</b>
<br><br>
نعم، لا تستخفّوا أبدا بلغتكم الأمّ، العربيّة لغة بديعة و هي حديثة 100% و
يمكنها معالجة الإعلاميّة و العلوم الحديثة كافّة بأناقة و لباقة كجميع لغات
العالم. لن يمكنكم التّحكّم الكامل في العلوم إلاّ بلغتكم الأمّ لا بلغات أخرى.
<br><br>
كونو متفائلين بمستقبل اللّغة العربيّة في عالم المصادر المفتوحة إنّنا لسنا
إلّا في بداية مستقبل زاهر.
</p> 
</div>
<p align="left">
  <font color="#ff0000">
    <i>Supplied courtesy of - Arafat Medini</i></font>
</p>
